<div class="row bradcrum-position">
    <div class="col s12 m6">
        <a class="breadcrumb black-text">First</a>
        <a class="breadcrumb black-text">Second</a>
        <a class="breadcrumb black-text">Third</a>
      </div>

    <div class="col s12 m6 right-align">
      <a class='btn-floating dropdown-button btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content dropdown-options'>
        <li><a href="#!">Pagos</a></li>
        <li><a href="#!">Órdenes técnicas</a></li>
        <li><a href="#!">Generar factura</a></li>
        <li><a href="#!">PQR</a></li>
      </ul>
    </div>
            
</div>



<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th></th>
      <th>
        <label for="codigo" class="label-color">Código:</label>
        <input id="codigo" type="text" class="input-custom">
      </th>
      <th>
        <label for="documento" class="label-color">Documento:</label>
        <input id="documento" type="text" class="input-custom">
      </th>
      <th>
        <label for="nombre" class="label-color">Nombre:</label>
        <input id="nombre" type="text" class="input-custom">
      </th>
      <th>
        <label for="direccion" class="label-color">Dirección:</label>
        <input id="direccion" type="text" class="input-custom">
      </th>
      <th>
        <label for="telefono" class="label-color">Teléfono:</label>
        <input id="telefono" type="text" class="input-custom">
      </th>
      <th>
        <label for="saldo" class="label-color">Saldo:</label>
        <input id="saldo" type="text" class="input-custom">
      </th>
      <th>
        <label for="estado" class="label-color">Estado:</label>
        <input id="estado" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suscriptor of ['','','','','','']; let i = index">
      <td></td>
      <td>aaaa</td>
      <td>aaaa</td>
      <td>aaaa</td>
      <td>aaaa</td>
      <td>aaaa</td>
      <td>aaaa</td>
      <td>aaaa</td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
    <li><a class="btn-floating btn-señal">Adicionar Señal</a></li>
    <li><a class="btn-floating btn-eliminar red">Eliminar</a></li>
  </ul>
</div>

<div id="modal-crear" class="modal">
  <div class="modal-content">
    <h4>Crear</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="" id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <div class="input-field col s6">
            <select>
              <option value="1">Cédula</option>
              <option value="2">NIT</option>
              <option value="3">Cédula de extranjería</option>
            </select>
            <label>Tipo de documento</label>
          </div>
        </div>
        <div class="row col s12">
          <div class="input-field col s4">
            <input placeholder="" id="nombre1" type="text" class="validate">
            <label for="nombre1">Nombre 1</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="" id="nombre2" type="text" class="validate">
            <label for="nombre2">Nombre 2</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="" id="apellido1" type="text" class="validate">
            <label for="apellido1">Apellido 1</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="" id="apellido2" type="text" class="validate">
            <label for="apellido2">Apellido 2</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input placeholder="" id="direccion" type="text" class="validate">
            <label for="direccion">Dirección</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="" id="telefono1" type="text" class="validate">
            <label for="telefono1">Teléfono 1</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="" id="telefono2" type="text" class="validate">
            <label for="telefono2">Teléfono 2</label>
          </div>
          <select>
            <option value="1">Barrio1</option>
            <option value="2">Barrio2</option>
            <option value="3">Barrio3</option>
          </select>
          <label>Barrio</label>
        </div>
        <div class="row">
          <select>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
            <option value="3">Zona3</option>
          </select>
          <label>Zonas</label>
        </div>
        <div class="row">
          <div class="col s12">
            This is an inline input field:
            <div class="input-field inline">
              <input placeholder="" id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>