<!-- Breadcrum-->
<div class="row bradcrum-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Empresas</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="col s12 m6">
    <a class="breadcrumb black-text">First</a>
    <a class="breadcrumb black-text">Second</a>
    <a class="breadcrumb black-text">Third</a>
  </div>
  <div class="col s12 m6 right-align">
  <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
  </div>
</div>
    
  <!-- Table -->
<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th class="first-column">
        <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
        <label for="all"> </label>
      </th>
      <th>
        <label for="nit" class="label-color">NIT:</label>
        <input id="nit" type="text" class="input-custom">
      </th>
      <th>
        <label for="nombre" class="label-color">Nombre:</label>
        <input id="nombre" type="text" class="input-custom">
      </th>
      <th>
        <label for="direccion" class="label-color">Dirección:</label>
        <input id="direccion" type="text" class="input-custom">
      </th>
      <th>
        <label for="tel1" class="label-color">Teléfono 1:</label>
        <input id="tel1" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies; let i = index" name="rows" (click)="selectRow()">
      <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" />
          <label [attr.for]="'radio_'+i"> </label>
      </td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
    </tr>
  </tbody>
</table>
    
<!-- Pagination -->
<div class="row right">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
    
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <swal #dialog [options]="{ title: '¿Desea eliminar el registro?', 
    confirmButtonText: 'Si', cancelButtonText: 'No', showCancelButton: 'true', type: 'warning',
    confirmButtonColor: '#407FA9' }"></swal>
    <li><a class="btn-floating btn-eliminar red" (click)="dialog.show()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>
    
<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Crear</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s4">
              <label for="nit" class="label-color">NIT:</label>
              <input placeholder="" id="nit" type="text">
          </div>
          <div class="col s4">
            <label for="razon" class="label-color">Razón social:</label>
            <input placeholder="" id="razon" type="text">
          </div>
          <div class="col s4">
            <label for="direccion" class="label-color">Dirección:</label>
            <input placeholder="" id="direccion" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="tel1" class="label-color">Teléfono 1:</label>
            <input placeholder="" id="tel1" type="text">
          </div>
          <div class="col s4">
            <label for="tel2" class="label-color">Teléfono 2:</label>
            <input placeholder="" id="tel2" type="text">
          </div>
          <div class="col s4">
            <label class="label-color">Ciudad:</label>
            <select class="browser-default select-city">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label class="label-color">Representante:</label>
            <select class="browser-default select-city">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s8">
            <div class="file-field">
              <div class="btn btn-logo">
                <span>Logo</span>
                <input type="file" class="">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="correo" class="label-color">Correo:</label>
            <input placeholder="" id="correo" type="text">
          </div>
          <div class="col s4">
            <label class="label-color">Régimen:</label>
            <select class="browser-default select-city">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Simplificado</option>
              <option value="2">Común</option>
            </select>
          </div>
          <div class="col s4">
            <label class="label-color">Contribuyente:</label>
            <select class="browser-default select-city">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="centro" class="label-color">Centro de costo:</label>
            <input placeholder="" id="centro" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>
    
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Empresa</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s4">
              <label for="nitEdit" class="label-color">NIT:</label>
              <input disabled placeholder="" id="nitEdit" type="text">
          </div>
          <div class="col s4">
            <label for="razonEdit" class="label-color">Razón social:</label>
            <input disabled placeholder="" id="razonEdit" type="text">
          </div>
          <div class="col s4">
            <label for="direccionEdit" class="label-color">Dirección:</label>
            <input disabled placeholder="" id="direccionEdit" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="tel1Edit" class="label-color">Teléfono 1:</label>
            <input disabled placeholder="" id="tel1Edit" type="text">
          </div>
          <div class="col s4">
            <label for="tel2Edit" class="label-color">Teléfono 2:</label>
            <input disabled placeholder="" id="tel2Edit" type="text">
          </div>
          <div class="col s4">
            <label class="label-color">Ciudad:</label>
            <select disabled class="browser-default select-city" id="ciudadEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label class="label-color">Representante:</label>
            <select disabled class="browser-default select-city" id="representanteEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s8">
            <div class="file-field">
              <div class="btn btn-logo">
                <span>Logo</span>
                <input disabled type="file" id="fileEdit">
              </div>
              <div class="file-path-wrapper">
                <input disabled class="file-path validate" type="text" id="logoEdit">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="correoEdit" class="label-color">Correo:</label>
            <input disabled placeholder="" id="correoEdit" type="text">
          </div>
          <div class="col s4">
            <label class="label-color">Régimen:</label>
            <select disabled class="browser-default select-city" id="regimenEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Simplificado</option>
              <option value="2">Común</option>
            </select>
          </div>
          <div class="col s4">
            <label class="label-color">Contribuyente:</label>
            <select disabled class="browser-default select-city" id="contribuyenteEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="centroEdit" class="label-color">Centro de costo:</label>
            <input disabled placeholder="" id="centroEdit" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
