.btn-logo {
    background-color: #5aa9cbb5;
}

.select-pais{
    height: 1em;
    line-height: 1em;
}

#modal-crear{
    width: 50%;
}

#modal-see{
    width: 50%
}

.modal .modal-content {
    padding: 24px;
    padding: 20px 24px;
    padding-bottom: 14px !important;
}

.file-field .btn, .file-field .btn-large {
    float: left;
    height: 1.7rem;
    line-height: 2rem;
}

.file-field {
    margin-top: 6%;
}

