
table {
    width: 100%;
    display: table;
    position: sticky;
}

#container-pag{
    /*overflow-y: hidden;*/
}

.select-pais{
    height: 1em;
    line-height: 1em;
}

#registros{
    width: 40%;
    margin-bottom: 2%;
}

#modal-crear{
    width: 50%;
}

#modal-see{
    width: 50%
}

.modal .modal-content {
    padding: 20px 24px;
    padding-bottom: 14px !important;
    height: 100%;
}




