<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Conceptos</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Maestros</a>
        <a class="breadcrumb black-text">Conceptos</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
    </div>
  </div>
</div>
    
  <!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()" [attr.max]="[numberOfConcepts]"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="codigo" class="label-color">Código:</label>
          <input id="codigo" type="text" class="input-custom" [(ngModel)]="filter.id">
        </th>
        <th>
          <label for="servicio" class="label-color">Servicio:</label>
          <input id="servicio" type="text" class="input-custom" [(ngModel)]="filter.servicio">
        </th>
        <th>
          <label for="concepto" class="label-color">Concepto:</label>
          <input id="concepto" type="text" class="input-custom" [(ngModel)]="filter.nombre">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let concept of concepts | conceptsfilter:filter | paginate: config let i = index" name="rows" (click)="selectRow()" >
        <td>
            <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(concept)"/>
            <label [attr.for]="'radio_'+i"> </label>
        </td>
        <td (click)="openModal(concept)" href="#modal-see">{{ concept.codigo }}</td>
        <td (click)="openModal(concept)" href="#modal-see">{{ concept.servicio }}</td>
        <td (click)="openModal(concept)" href="#modal-see">{{ concept.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>
    
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <div class="col s12 m12 l12"></div>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
  <!-- <div class="row center">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
  </div> -->
</div>
    
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <div class="row">
    <div class="col s12 m12 l12">
      <a class="btn-floating btn-large button-crud">
        <i class="large material-icons icon-horizontal">add</i>
      </a>
      <ul class="ul-button">
        <li><a class="btn-floating btn-eliminar red" (click)="deleteConcept()" id="btn-footer-delete">Eliminar</a></li>
        <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
      </ul>
    </div>
  </div>
</div>
    
<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Crear</h5>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="rForm"> 
        <div class="row" >
            <div class="col s12 m6 l4">
              <label class="label-color">Tipo servicio <span class="span-color">*</span></label>
              <select class="browser-default select-city validate" id="select-cities" formControlName="tiposerv" required>
                <option value="" disabled selected>Seleccione</option>
                <option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>
              </select>
              <div class="alert" *ngIf="!rForm.controls['tiposerv'].value && rForm.controls['tiposerv'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="codigo" class="label-color">Código <span class="span-color">*</span></label>
              <input placeholder="" id="codigo" type="text" class="validate" formControlName="codigo" required>
              <div class="alert" *ngIf="!rForm.controls['codigo'].value && rForm.controls['codigo'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="nombre" class="label-color">Nombre <span class="span-color">*</span></label>
              <input placeholder="" id="nombre" type="text" class="validate" formControlName="nombre" required>
              <div class="alert" *ngIf="!rForm.controls['nombre'].value && rForm.controls['nombre'].touched">{{ titleAlert }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6 l4">
              <label for="nombre" class="label-color">Abreviatura <span class="span-color">*</span></label>
              <input placeholder="" id="abreviatura" type="text" class="validate" formControlName="abreviatura" required>
              <div class="alert" *ngIf="!rForm.controls['abreviatura'].value && rForm.controls['abreviatura'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="iva" class="label-color">Porcentaje IVA <span class="span-color">*</span></label>
              <input placeholder="" id="iva" type="text" class="validate" formControlName="iva" required>
              <div class="alert" *ngIf="!rForm.controls['iva'].value && rForm.controls['iva'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="operacion" class="label-color">Operación <span class="span-color">*</span></label>
              <input placeholder="" id="operacion" type="text" class="validate" formControlName="operacion" required>
              <div class="alert" *ngIf="!rForm.controls['operacion'].value && rForm.controls['operacion'].touched">{{ titleAlert }}</div>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!rForm.valid" (click)="createConcept(rForm.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>
    
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5>Concepto</h5>
      </div>
      <div class="col s6 m6 l6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="seeForm">
        <div class="row" *ngIf="conceptEdit">
            <div class="col s12 m6 l4">
              <label class="label-color">Tipo servicio <span class="span-color">*</span></label>
              <select disabled class="browser-default select-city" id="selectEdit">
                <option value="nodisplay" disabled selected>{{ serviceEdit }}</option>
                <option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>
              </select>
            </div>
            <div class="col s12 m6 l4">
              <label for="codigoEdit" class="label-color">Código <span class="span-color">*</span></label>
              <input disabled placeholder="" id="codigoEdit" type="text" class="validate" formControlName="codigo-ver" [(ngModel)]="conceptEdit.codigo">
              <div class="alert" *ngIf="!seeForm.controls['codigo-ver'].value && seeForm.controls['codigo-ver'].touched">{{ titleAlert }}</div>                        
            </div>
            <div class="col s12 m6 l4">
              <label for="nombreEdit" class="label-color">Nombre <span class="span-color">*</span></label>
              <input disabled placeholder="" id="nombreEdit" type="text" class="validate" formControlName="nombre-ver"[(ngModel)]="conceptEdit.nombre">
              <div class="alert" *ngIf="!seeForm.controls['nombre-ver'].value && seeForm.controls['nombre-ver'].touched">{{ titleAlert }}</div>                        
            </div>
          </div>
          <div class="row" *ngIf="conceptEdit">
            <div class="col s12 m6 l4">
              <label for="nombreEdit" class="label-color">Abreviatura <span class="span-color">*</span></label>
              <input disabled placeholder="" id="abreviaturaEdit" type="text" class="validate" formControlName="abreviatura-ver" [(ngModel)]="conceptEdit.abreviatura">
              <div class="alert" *ngIf="!seeForm.controls['abreviatura-ver'].value && seeForm.controls['abreviatura-ver'].touched">{{ titleAlert }}</div>                        
            </div>
            <div class="col s12 m6 l4">
              <label for="ivaEdit" class="label-color">Porcentaje IVA <span class="span-color">*</span></label>
              <input disabled placeholder="" id="ivaEdit" type="text" class="validate" formControlName="iva-ver" [(ngModel)]="conceptEdit.porcentajeIva">
              <div class="alert" *ngIf="!seeForm.controls['iva-ver'].value && seeForm.controls['iva-ver'].touched">{{ titleAlert }}</div>                        
            </div>
            <div class="col s12 m6 l4">
              <label for="operacionEdit" class="label-color">Operación <span class="span-color">*</span></label>
              <input disabled placeholder="" id="operacionEdit" type="text" class="validate" formControlName="operacion-ver" [(ngModel)]="conceptEdit.operacion">
              <div class="alert" *ngIf="!seeForm.controls['operacion-ver'].value && seeForm.controls['operacion-ver'].touched">{{ titleAlert }}</div>                        
            </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!seeForm.valid" (click)="updateConcept()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
