.btn-pssword{
    width: 104%;
    background-color: #5aa8cb;
    border-radius: 3px;
    text-align: center;
    margin-right: 1em;
    visibility: hidden;
}

.select-pais{
    height: 1em;
    line-height: 1em;
}

#modal-crear{
    width: 50%;
}

#modal-crear .modal-content{
    height: 100%;
}

#modal-see{
    width: 50%
}

#modal-see .modal-content{
    height: 100%;
}

#modal-changePassword{
    width: 24%;
}

#modal-changePassword .modal-content{
    height: 100%;
}

#modal-resetPassword {
    width: 24%;
}

#modal-resetPassword .modal-content{
    height: 100%;
}

.modal .modal-content {
    padding: 20px 24px;
    padding-bottom: 14px !important;
    height: 100%;
}
