<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Usuarios</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Maestros</a>
        <a class="breadcrumb black-text">Usuarios</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
    </div>
  </div>
</div>
    
<!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()" [attr.max]="[numberOfUsers]"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="codigo" class="label-color">Código:</label>
          <input id="codigo" type="text" class="input-custom" [(ngModel)]="filter.id">
        </th>
        <th>
          <label for="nombre" class="label-color">Nombre usuario:</label>
          <input id="nombre" type="text" class="input-custom" [(ngModel)]="filter.login">
        </th>
        <th>
          <label for="nomape" class="label-color">Nombres y apellidos:</label>
          <input id="nomape" type="text" class="input-custom" [(ngModel)]="filter.nombre">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | usersfilter:filter | paginate: config; let i = index" name="rows" (click)="selectRow()">
        <td>
            <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(user)"/>
            <label [attr.for]="'radio_'+i"> </label>
        </td>
        <td (click)="openModal(user)" href="#modal-see">{{ user.id }}</td>
        <td (click)="openModal(user)" href="#modal-see">{{ user.login }}</td>
        <td (click)="openModal(user)" href="#modal-see">{{ user.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>
    
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <div class="col s12 m12 l12"></div>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
    
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deleteUser()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-pssword modal-trigger" href="#modal-resetPassword" id="btn-footer-reset">Resetear contraseña</a></li>
    <li class="li-button"><a class="btn-floating btn-pssword modal-trigger" href="#modal-changePassword" id="btn-footer-pss">Cambiar contraseña</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>
    
<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Crear</h5>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="rForm">
        <div class="row">
          <div class="col s12 m6 l4">
            <label for="codigoU" class="label-color">Código</label>
            <input disabled placeholder="" id="codigoU" type="text">
          </div>
          <div class="col s12 m6 l4">
            <label for="nomusuario" class="label-color">Usuario <span class="span-color">*</span></label>
            <input placeholder="" id="nomusuario" type="text" class="validate" formControlName="usuario" required>
            <div class="alert" *ngIf="!rForm.controls['usuario'].value && rForm.controls['usuario'].touched">{{ titleAlert }}</div>                        
          </div>
          <div class="col s12 m6 l4">
            <label for="nomapeU" class="label-color">Nombres y apellidos <span class="span-color">*</span></label>
            <input placeholder="" id="nomapeU" type="text" class="validate" formControlName="nombres" required>
            <div class="alert" *ngIf="!rForm.controls['nombres'].value && rForm.controls['nombres'].touched">{{ titleAlert }}</div>                        
          </div>
         </div>
         <div class="row"> 
          <div class="col s12 m6 l4">
            <label for="password" class="label-color">Contraseña <span class="span-color">*</span></label>
            <input id="password" type="password" class="validate" class="validate" formControlName="password" required>
            <div class="alert" *ngIf="!rForm.controls['password'].value && rForm.controls['password'].touched">{{ titleAlert }}</div>                        
          </div>
          <div class="col s12 m6 l4">
            <label for="nivel" class="label-color">Nivel <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="nivel" formControlName="nivel" required>
              <option value="" disabled selected>Seleccione</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['nivel'].value && rForm.controls['nivel'].touched">{{ titleAlert }}</div>                        
          </div>
          <div class="col s12 m6 l4">
            <label class="label-color">Estado <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="estadoU" formControlName="estado" required>
              <option value="" disabled selected>Seleccione</option>
              <option [value]="state.id" *ngFor="let state of states">{{ state.nombre }}</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['estado'].value && rForm.controls['estado'].touched">{{ titleAlert }}</div>                        
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l4">
            <label class="label-color">Tipo impresora <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="impresoraU" formControlName="tipoimpresora" required>
              <option value="" disabled selected>Seleccione</option>
              <option value="L">Laser</option>
              <option value="P">Post</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['tipoimpresora'].value && rForm.controls['tipoimpresora'].touched">{{ titleAlert }}</div>                        
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!rForm.valid" (click)="createUser(rForm.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>
    
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5>Usuario</h5>
      </div>
      <div class="col s6 m6 l6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div> 
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="seeForm">
        <div class="row" *ngIf="userEdit">
          <div class="col s12 m6 l2">
            <label for="codigo" class="label-color">Código</label>
            <input disabled placeholder="" id="codigo" type="text" [(ngModel)]="userEdit.id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l4">
            <label for="nomusuarioEdit" class="label-color">Usuario <span class="span-color">*</span></label>
            <input disabled placeholder="" id="nomusuarioEdit" type="text" class="validate" formControlName="usuario-ver" [(ngModel)]="userEdit.login">
          </div>
          <div class="col s12 m6 l6">
            <label for="nomapeEdit" class="label-color">Nombres y apellidos <span class="span-color">*</span></label>
            <input disabled placeholder="" id="nomapeEdit" type="text" class="validate" formControlName="nombres-ver" [(ngModel)]="userEdit.nombre">
          </div>
        </div>
        <div class="row" *ngIf="userEdit">
          <div class="col s12 m6 l2">
            <label for="nivelEdit" class="label-color">Nivel <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="nivelEdit">
              <option  value="nodisplay" disabled selected>{{ userEdit.nivel }}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="col s12 m6 l4">
            <label class="label-color">Estado <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="estadoEdit">
              <option value="nodisplay" disabled selected>{{ stateEdit }}</option>
              <option [value]="state.id" *ngFor="let state of states">{{ state.nombre }}</option>
            </select>
          </div>
          <div class="col s12 m6 l4">
            <label class="label-color">Tipo impresora <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="tipoimpresoraEdit">
                <option value="nodisplay" disabled selected>{{ impEdit }}</option>
              <option value="L">Laser</option>
              <option value="P">Post</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!seeForm.valid" (click)="updateUser()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>

<!--Modal Password -->
<div id="modal-changePassword" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Cambiar contraseña</h5>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form >
        <div class="row">
          <div class="col s12 m12 l12">
            <label for="passwordChange" class="label-color">Antigua contraseña:</label>
            <input placeholder="" id="passwordChange" type="password" #antigua>
          </div>
          <div class="col s12 m12 l12">
            <label for="newpassword" class="label-color">Nueva contraseña:</label>
            <input placeholder="" id="newpassword" type="password" #nueva>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="changePassword(antigua.value, nueva.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>

<!--Modal Reset Password -->
<div id="modal-resetPassword" class="modal">
    <div class="modal-title">
      <div class="row">
        <div class="col s12 m12 l12">
            <h5>Resetear contraseña</h5>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="row">
        <form>
          <div class="row">
            <div class="col s12 m12 l12">
              <label for="resetpassword" class="label-color">Nueva contraseña:</label>
              <input placeholder="" id="resetpassword" type="password" #resetear>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetPassword(resetear.value)">Aceptar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
    </div>
  </div>
  
