<!-- Breadcrum-->
<div class="row bradcrum-position">
  <div class="col s12 m6">
      <a class="breadcrumb black-text">First</a>
      <a class="breadcrumb black-text">Second</a>
      <a class="breadcrumb black-text">Third</a>
    </div>

  <div class="col s12 m6 right-align">
    <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>

  </div>
</div>
    
  <!-- Table -->
<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th class="first-column">
        <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
        <label for="all"> </label>
      </th>
      <th>
        <label for="codigo" class="label-color">Código:</label>
        <input id="codigo" type="text" class="input-custom">
      </th>
      <th>
        <label for="nombre" class="label-color">Nombre:</label>
        <input id="nombre" type="text" class="input-custom">
      </th>
      <th>
        <label for="nomape" class="label-color">Nombres y apellidos:</label>
        <input id="nomape" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" name="rows" (click)="selectRow()">
      <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" />
          <label [attr.for]="'radio_'+i"> </label>
      </td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
      <td (click)="openModal()" href="#modal-see">aaaa</td>
    </tr>
  </tbody>
</table>
    
<!-- Pagination -->
<div class="row right">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
    
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <swal #dialog [options]="{ title: '¿Desea eliminar el registro?', 
    confirmButtonText: 'Si', cancelButtonText: 'No', showCancelButton: 'true', type: 'warning',
    confirmButtonColor: '#407FA9' }"></swal>
    <li><a class="btn-floating btn-eliminar red" (click)="dialog.show()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-pssword modal-trigger" href="#modal-changePassword">Cambiar contraseña</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>
    
<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Crear</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s6">
            <label for="codigo" class="label-color">Código:</label>
            <input placeholder="" id="codigo" type="text">
          </div>
          <div class="col s6">
            <label for="nomusuario" class="label-color">Nombre de usuario:</label>
            <input placeholder="" id="nomusuario" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="nomape" class="label-color">Nombres y apellidos:</label>
            <input placeholder="" id="nomape" type="text">
          </div>
          <div class="col s6">
            <label for="password" class="label-color">Contraseña</label>
            <input id="password" type="password" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="nivel" class="label-color">Nivel:</label>
            <input placeholder="" id="nivel" type="text">
          </div>
          <div class="col s6">
            <label class="label-color">Estado:</label>
            <select class="browser-default select-city" id="tiposervicioEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label class="label-color">Tipo impresora:</label>
            <select class="browser-default select-city" id="tiposervicioEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Laser</option>
              <option value="2">Post</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>
    
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Usuario</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s6">
            <label for="codigo" class="label-color">Código:</label>
            <input disabled placeholder="" id="codigo" type="text">
          </div>
          <div class="col s6">
            <label for="nomusuarioEdit" class="label-color">Nombre de usuario:</label>
            <input disabled placeholder="" id="nomusuarioEdit" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="nomapeEdit" class="label-color">Nombres y apellidos:</label>
            <input disabled placeholder="" id="nomapeEdit" type="text">
          </div>
          <div class="col s6">
            <label for="passwordEdit" class="label-color">Contraseña</label>
            <input disabled id="passwordEdit" type="password" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="nivelEdit" class="label-color">Nivel:</label>
            <input disabled placeholder="" id="nivelEdit" type="text">
          </div>
          <div class="col s6">
            <label class="label-color">Estado:</label>
            <select disabled class="browser-default select-city" id="estadoEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label class="label-color">Tipo impresora:</label>
            <select disabled class="browser-default select-city" id="tipoimpresoraEdit">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Laser</option>
              <option value="2">Post</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>

<!--Modal Password -->
<div id="modal-changePassword" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12">
          <h4>Cambiar contraseña</h4>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s12">
            <label for="passwordChange" class="label-color">Antigua contraseña:</label>
            <input placeholder="" id="passwordChange" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label for="newpassword" class="label-color">Nueva contraseña:</label>
            <input placeholder="" id="newpassword" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
