.select-pais{
    height: 1em;
    line-height: 1em;
}

.modal-title {
     height: 10% !important;
}

/* .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #478fbc;
    padding: 4px 6px;
    height: 46px;
    width: 100%;
    text-align: right;
} */

.modal.modal-fixed-footer .modal-content {
    height: calc(100% - 89px) !important;
}

#modal-crear{
    width: 70%;
}

#modal-see{
    width: 70%
}

#modal-factura {
    width: 50%;
}


#modal-factura .modal-content {
    height: 100%;
    padding-top: 13px;
}

#modal-orden {
    width: 65%;
}

#modal-orden .modal-content {
    padding: 24px;
    padding-bottom: 16px !important;
    padding-top: 1px;
    height: 100%;
}

#modal-anular {
    width: 60%;
}

#modal-pagos {
    width: 62%;
}

.modal .modal-content {
    padding-top: 3px;
}

.check-type {
    margin-top: 1.5em;
}

.check-label{
    padding-left: 1.7em;
    padding-right: 0.5em;
    color: black;
}

.filter{
    margin-top: -1em;
}

#mostrar{
    width: 40%;
    margin-bottom: 2%;
}

.codigo-th {
    width: 5%;
}

.documento-th {
    width: 10%;
}

.nombre-th {
    width: 26%;
}

.direccion-th{
    width: 29%;
}

.telefono-th {
    width: 11%
}

.saldo-th {
    width: 8%
}

.total-th {
    width: 7%;
}

.label-th {
    width: 7%;
}

.label2-th{
    width: 5%;
}

input[type=text]:not(.browser-default) .input-td {
    font-size: 11.5px !important;
    margin: 2px 0 3px 0 !important;
}

.service-title{
    font-size: 1em;
    font-weight: 800;
}

.service-subs{
    padding-top: 2%;
}

.separator-subs{
    background-color: black;
    height: 2px;
    margin-bottom: 1em;
}

.service-order{
    padding-top: 1%;
}

.separator-order{
    background-color: black;
    height: 2px;
    margin-bottom: 0.3em;
}

.service-payment{
    padding-top: 1%;
}

.separator-payment{
    background-color: black;
    height: 2px;
    margin-bottom: 1em;
}

.table-btn {
    width: 25px;
    height: 25px;
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 0;
}

#btn-options{
    visibility: hidden;
}

.collapsible-body {
    padding: 1rem;
}

/* #collapsible-internet {
    visibility: hidden;
} */

#serv-form {
    visibility: hidden;
}

/*  .check-type {
    visibility: hidden;
}  */

/* .hide-info {
    visibility: hidden;
} */

.table-anularfac {
    line-height: 0.5em !important;
}

.table-fac {
    line-height: 1.5em !important;
}

@media only screen and (min-width: 601px){
    .check-type {
        margin-top: 0rem;
    }
    .table-btn {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 993px) {
    .check-type {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 601px){
    .table-btn {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
