<!--Breadcrum-->
<div class="row bradcrum-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Suscriptores</span>
    </div>
  </div>
  <div class="row">
    <div class="separator z-depth-3"></div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="row">
        <a class="breadcrumb black-text">Maestros</a>
        <a class="breadcrumb black-text">Suscriptores</a>
      </div>
      <div class="row">
        <label class="label-color">Mostrar:</label>
        <select class="browser-default select-city" id="mostrar">
          <option value="" selected>Choose your option</option>
          <option value="1">Suscriptor</option>
          <option value="2">Proveedor</option>
          <option value="3">Cliente</option>
          <option value="4">Empleado</option>
          <option value="5">Vendedor</option>
          <option value="6">Esal</option>
          <option value="7">Técnico</option>
        </select>
      </div>
    </div>
    <div class="col s12 m6 right-align">
      <a class='btn-floating dropdown-button btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>
      <!-- Dropdown Structure --> 
      <ul id='dropdown1' class='dropdown-content dropdown-options'>
        <li><a href="#!">Pagos</a></li>
        <li><a href="#!">Órdenes técnicas</a></li>
        <li><a href="#!">Generar factura</a></li>
        <li><a href="#!">PQR</a></li>
      </ul>
    </div>    
  </div> 
  <!--<div class="row filter">
      <div class="col s12 m4">
        <label class="label-color">Mostrar:</label>
        <select class="browser-default select-city" id="mostrar">
          <option value="" selected>Choose your option</option>
          <option value="1">Suscriptor</option>
          <option value="2">Proveedor</option>
          <option value="3">Cliente</option>
          <option value="4">Empleado</option>
          <option value="5">Vendedor</option>
          <option value="6">Esal</option>
          <option value="7">Técnico</option>
        </select>
      </div>
  </div>-->
</div>

<!-- Filter -->
<div class="row filter">
   
  </div>

<!--Table-->
<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th class="first-column">
        <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
        <label for="all"> </label>
      </th>
      <th class="codigo-th">
        <label for="codigo" class="label-color">Código:</label>
        <input id="codigo" type="text" class="input-custom">
      </th>
      <th class="documento-th">
        <label for="documento" class="label-color">Documento:</label>
        <input id="documento" type="text" class="input-custom">
      </th>
      <th class="nombre-th">
        <label for="nombre" class="label-color">Nombre:</label>
        <input id="nombre" type="text" class="input-custom">
      </th>
      <th>
        <label for="direccion" class="label-color">Dirección:</label>
        <input id="direccion" type="text" class="input-custom">
      </th>
      <th>
        <label for="telefono" class="label-color">Teléfono:</label>
        <input id="telefono" type="text" class="input-custom">
      </th>
      <th>
        <label for="saldo" class="label-color">Saldo:</label>
        <input id="saldo" type="text" class="input-custom">
      </th>
      <th>
        <label for="estado" class="label-color">Estado:</label>
        <input id="estado" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subscriber of subscribers; let i = index" name="rows" (click)="selectRow()">
      <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" />
          <label [attr.for]="'radio_'+i"> </label>
      </td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.id }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.documento }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.nombres }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.direccion }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.telefono1P }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.saldo }}</td>
      <td (click)="openModal()" href="#modal-see">{{ subscriber.estado }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<div class="row center">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
 
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <swal #dialog [options]="{ title: '¿Desea eliminar el registro?', 
    confirmButtonText: 'Si', cancelButtonText: 'No', showCancelButton: 'true', type: 'warning',
    confirmButtonColor: '#407FA9' }"></swal>
    <li><a class="btn-floating btn-eliminar red" (click)="dialog.show()" id="btn-footer-delete">Eliminar</a></li>
    <li><a class="btn-floating btn-señal">Adicionar Señal</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>

<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h5>Crear</h5>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
      <form>
        <div class="row">
          <div class="col s4">
            <label class="label-color">Tipo función:</label>
            <select class="browser-default select-city" id="funcion">
              <option value="" selected>Choose your option</option>
              <option value="1">Suscriptor</option>
              <option value="2">Proveedor</option>
              <option value="3">Cliente</option>
              <option value="4">Empleado</option>
              <option value="5">Vendedor</option>
              <option value="6">Esal</option>
              <option value="7">Técnico</option>
            </select>
          </div>
          <div class="col s4">
            <label for="tipodoc" class="label-color">Tipo documento:</label>
            <input placeholder="" id="tipodoc" type="text">
          </div>
          <div class="col s4">
            <label for="documentopersona" class="label-color">Número de documento:</label>
            <input placeholder="" id="documentopersona" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="nombre1" class="label-color">Primer nombre:</label>
            <input placeholder="" id="nombre1" type="text">
          </div>
          <div class="col s3">
            <label for="nombre2" class="label-color">Segundo nombre:</label>
            <input id="nombre2" type="text" class="validate">
          </div>
          <div class="col s3">
            <label for="apellido1" class="label-color">Primer apellido:</label>
            <input id="apellido1" type="text" class="validate">
          </div>
          <div class="col s3">
            <label for="apellido2" class="label-color">Segundo apellido:</label>
            <input id="apellido2" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="tel1" class="label-color">Teléfono 1:</label>
            <input placeholder="" id="tel1" type="text">
          </div>
          <div class="col s3">
            <label for="tel2" class="label-color">Teléfono 2:</label>
            <input placeholder="" id="tel2" type="text">
          </div>
          <div class="col s3">
            <label for="direccionpersona" class="label-color">Dirección:</label>
            <input placeholder="" id="direccionpersona" type="text">
          </div>
          <div class="col s3">
            <label class="label-color">Barrio:</label>
            <select class="browser-default select-city" id="barrio">
              <option value=""  selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label class="label-color">Zona:</label>
            <select class="browser-default select-city" id="zona">
              <option value=""  selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Ciudad:</label>
            <select class="browser-default select-city" id="ciudad">
              <option value=""  selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s3">
            <label for="correo" class="label-color">Correo:</label>
            <input placeholder="" id="correo" type="text">
          </div>
          <div class="col s3">
            <label for="fechanacimiento" class="label-color">Fecha de nacimiento:</label>
            <input placeholder="" id="fechanacimiento" type="text" class="datepicker">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label class="label-color">Tipo persona:</label>
            <select class="browser-default select-city" id="tipopersona">
              <option value=""  selected>Choose your option</option>
              <option value="1">Jurídica</option>
              <option value="2">Natural</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Estrato:</label>
            <select class="browser-default select-city" id="estrato">
              <option value=""  selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Condición física:</label>
            <select class="browser-default select-city" id="condicion">
              <option value=""  selected>Choose your option</option>
              <option value="1">Normal</option>
              <option value="2">Discapacitado</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="row service-subs">
            <div class="col s12 m6">
              <span class="service-title">Información general servicio</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-subs z-depth-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="numcontrato" class="label-color">Número de contrato:</label>
            <input placeholder="" id="numcontrato" type="text">
          </div>
          <div class="col s3">
            <label for="dirtv" class="label-color">Dirección:</label>
            <input placeholder="" id="dirtv" type="text">
          </div>
          <div class="col s3">
            <label for="urbanizacion" class="label-color">Urbanización:</label>
            <input placeholder="" id="urbanizacion" type="text">
          </div>
          <div class="col s3">
            <label for="torre" class="label-color">Torre:</label>
            <input placeholder="" id="torre" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="apartamento" class="label-color">Apartamento:</label>
            <input placeholder="" id="apartamento" type="text">
          </div>
          <div class="col s3">
            <label class="label-color">Barrio:</label>
            <select class="browser-default select-city" id="barriotv">
              <option value=""  selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Zona:</label>
            <select class="browser-default select-city" id="zonatv">
              <option value=""  selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col s3">
            <label for="tel1tv" class="label-color">Teléfono 1:</label>
            <input placeholder="" id="tel1tv" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="te21tv" class="label-color">Teléfono 2:</label>
            <input placeholder="" id="tel2tv" type="text">
          </div>
          <div class="col s3">
            <label for="contactotv" class="label-color">Contacto:</label>
            <input placeholder="" id="contactotv" type="text" >
          </div>
          <div class="col s3">
            <label class="label-color">Estrato:</label>
            <select class="browser-default select-city" id="estratotv">
              <option value=""  selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Tipo vivienda:</label>
            <select class="browser-default select-city" id="tipoviviendatv">
              <option value=""  selected>Choose your option</option>
              <option value="1">Propia</option>
              <option value="2">Alquilada</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="observacion" class="label-color">Observación:</label>
            <input placeholder="" id="observacion" type="text" class="datepicker">
          </div>
          <div class="col s3">
            <label for="fechacontratotv" class="label-color">Fecha del contrato:</label>
            <input placeholder="" id="fechacontratotv" type="text" class="datepicker">
          </div>
          <div class="col s3">
            <label class="label-color">Vendedor:</label>
            <select class="browser-default select-city" id="vendedortv">
              <option value="" selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Tipo instalación:</label>
            <select class="browser-default select-city" id="tipoinstalaciontv">
              <option value="" selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label class="label-color">Tipo tecnología:</label>
            <select class="browser-default select-city" id="tipotecnologiatv">
              <option value="" selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Tipo de servicio:</label>
            <select class="browser-default select-city" id="tiposerviciotv">
              <option value="" selected>Choose your option</option>
              <option value="1">Residencial</option>
              <option value="2">Comercial</option>
            </select>
          </div>
          <div class="col s3">
            <label class="label-color">Área de instalación:</label>
            <select class="browser-default select-city" id="areainstalaciontv">
              <option value="" selected>Choose your option</option>
              <option value="1">Urbana</option>
              <option value="2">Rural</option>
              <option value="2">Extrarural</option>
            </select>
          </div>
          <div class="col s3 check-type">
            <input type="checkbox" class="filled-in" id="television" name="group3" checked="checked"/>
            <label for="television" class="check-label">Televisión</label>
            <input type="checkbox" class="filled-in" id="internet" name="group3"/>
            <label for="internet" class="check-label">Internet</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion" id="collapsible-television">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">live_tv</i>
                  Televisión
                </div>
                <div class="collapsible-body">
                  <form action="">
                    <div class="row">
                      <div class="col s3">
                        <label class="label-color">Estado:</label>
                        <select class="browser-default select-city" id="estadotv">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label for="numtv" class="label-color">Televisores:</label>
                        <input placeholder="" id="numtv" type="text">
                      </div>
                      <div class="col s3">
                        <label for="numdecotv" class="label-color">Decodificadores:</label>
                        <input placeholder="" id="numdecotv" type="text">
                      </div>
                      <div class="col s3">
                          <label class="label-color">Permanencia:</label>
                          <select class="browser-default select-city" id="permanencia">
                            <option value="" selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="2">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                          </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <label for="precintotv" class="label-color">Precinto:</label>
                        <input placeholder="" id="precintotv" type="text">
                      </div>
                      <div class="col s3">
                        <label class="label-color">Planes:</label>
                        <select class="browser-default select-city" id="planestv">
                          <option value="" selected>Choose your option</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label class="label-color">Tarifas:</label>
                        <select class="browser-default select-city" id="tarifastv">
                          <option value="" selected>Choose your option</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label for="saldotv" class="label-color">Saldo:</label>
                        <input placeholder="" id="saldotv" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <label for="fechapagotv" class="label-color">Fecha último pago:</label>
                        <input id="fechapagotv" type="text" class="datepicker">
                      </div>
                      <div class="col s3">
                        <label for="estadotv" class="label-color">Estado:</label>
                        <input placeholder="" id="estadotv" type="text">
                      </div>
                      <div class="col s3">
                        <label class="label-color">Valor afiliación:</label>
                        <select class="browser-default select-city" id="valorafiliaciontv">
                          <option value="" selected>Choose your option</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label for="descuentotv" class="label-color">Valor descuento:</label>
                        <input placeholder="" id="descuentotv" type="text">
                      </div>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion" id="collapsible-internet">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">signal_wifi_4_bar</i>
                  Internet
                </div>
                <div class="collapsible-body">
                  <form action="">
                    <div class="row">
                      <div class="col s3">
                        <label for="dirip" class="label-color">Dirección IP:</label>
                        <input placeholder="" id="dirip" type="text">
                      </div>
                      <div class="col s3">
                        <label class="label-color">Velocidad:</label>
                        <select class="browser-default select-city" id="velocidad">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">2mbps</option>
                          <option value="2">100mbps</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label for="mac1" class="label-color">MAC 1:</label>
                        <input placeholder="" id="mac1" type="text">
                      </div>
                      <div class="col s3">
                        <label for="mac2" class="label-color">MAC 2:</label>
                        <input placeholder="" id="mac2" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <label for="modem" class="label-color">Serial módem:</label>
                        <input placeholder="" id="modem" type="text">
                      </div>
                      <div class="col s3">
                        <label for="marcamodem" class="label-color">Marca módem:</label>
                        <input placeholder="" id="marcamodem" type="text">
                      </div>
                      <div class="col s3">
                        <label for="mascara" class="label-color">Máscara subred:</label>
                        <input placeholder="" id="mascara" type="text">
                      </div>
                      <div class="col s3">
                        <label for="dns" class="label-color">DNS:</label>
                        <input placeholder="" id="dns" type="text">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <label for="gateway" class="label-color">Gateway:</label>
                        <input placeholder="" id="gateway" type="text">
                      </div>
                      <div class="col s3">
                        <label for="nodo" class="label-color">Nodo:</label>
                        <input placeholder="" id="nodo" type="text">
                      </div>
                      <div class="col s3">
                        <label for="clavewifi" class="label-color">Clave Wi-Fi:</label>
                        <input placeholder="" id="clavewifi" type="text">
                      </div>
                      <div class="col s3">
                        <label class="label-color">Equipo:</label>
                        <select class="browser-default select-city" id="equipo">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">Si</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <label class="label-color">Planes:</label>
                        <select class="browser-default select-city" id="planesinternet">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">Si</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label class="label-color">Tarifas:</label>
                        <select class="browser-default select-city" id="tarifasinternet">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">Si</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label class="label-color">Valor afiliación:</label>
                        <select class="browser-default select-city" id="valorinternet">
                          <option value=""  selected>Choose your option</option>
                          <option value="1">Si</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                      <div class="col s3">
                        <label for="descuentointernet" class="label-color">Valor descuento:</label>
                        <input placeholder="" id="descuentointernet" type="text">
                      </div>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>

<!--Modal see -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h5>Suscriptor</h5>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
        <form>
          <div class="row">
            <div class="col s4">
              <label class="label-color">Tipo función:</label>
              <select disabled class="browser-default select-city" id="funcionEdit">
                <option value="" selected>Choose your option</option>
                <option value="1">Suscriptor</option>
                <option value="2">Proveedor</option>
                <option value="3">Cliente</option>
                <option value="4">Empleado</option>
                <option value="5">Vendedor</option>
                <option value="6">Esal</option>
                <option value="7">Técnico</option>
              </select>
            </div>
            <div class="col s4">
              <label for="tipodocEdit" class="label-color">Tipo documento:</label>
              <input disabled placeholder="" id="tipodocEdit" type="text">
            </div>
            <div class="col s4">
              <label for="documentopersonaEdit" class="label-color">Número de documento:</label>
              <input disabled placeholder="" id="documentopersonaEdit" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="nombre1Edit" class="label-color">Primer nombre:</label>
              <input disabled placeholder="" id="nombre1Edit" type="text">
            </div>
            <div class="col s3">
              <label for="nombre2Edit" class="label-color">Segundo nombre:</label>
              <input disabled id="nombre2Edit" type="text" class="validate">
            </div>
            <div class="col s3">
              <label for="apellido1Edit" class="label-color">Primer apellido:</label>
              <input disabled id="apellido1Edit" type="text" class="validate">
            </div>
            <div class="col s3">
              <label for="apellido2Edit" class="label-color">Segundo apellido:</label>
              <input disabled id="apellido2Edit" type="text" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="tel1Edit" class="label-color">Teléfono 1:</label>
              <input disabled placeholder="" id="tel1Edit" type="text">
            </div>
            <div class="col s3">
              <label for="tel2Edit" class="label-color">Teléfono 2:</label>
              <input disabled placeholder="" id="tel2Edit" type="text">
            </div>
            <div class="col s3">
              <label for="direccionpersonaEdit" class="label-color">Dirección:</label>
              <input disabled placeholder="" id="direccionpersonaEdit" type="text">
            </div>
            <div class="col s3">
              <label class="label-color">Barrio:</label>
              <select disabled class="browser-default select-city" id="barrioEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label class="label-color">Zona:</label>
              <select disabled class="browser-default select-city" id="zonaEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Ciudad:</label>
              <select disabled class="browser-default select-city" id="ciudadEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="col s3">
              <label for="correoEdit" class="label-color">Correo:</label>
              <input disabled placeholder="" id="correoEdit" type="text">
            </div>
            <div class="col s3">
              <label for="fechanacimientoEdit" class="label-color">Fecha de nacimiento:</label>
              <input disabled placeholder="" id="fechanacimientoEdit" type="text" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label class="label-color">Tipo persona:</label>
              <select disabled class="browser-default select-city" id="tipopersonaEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Jurídica</option>
                <option value="2">Natural</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Estrato:</label>
              <select disabled class="browser-default select-city" id="estratoEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Condición física:</label>
              <select disabled class="browser-default select-city" id="condicionEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Normal</option>
                <option value="2">Discapacitado</option>
              </select>
            </div>
            <!--<div class="col s3 check-type">
              <input type="checkbox" class="filled-in" id="televisionEdit" name="group3" disabled="disabled"/>
              <label for="televisionEdit" class="check-label">Televisión</label>
              <input type="checkbox" class="filled-in" id="internetEdit" name="group3" disabled="disabled"/>
              <label for="internetEdit" class="check-label">Internet</label>
            </div>-->
          </div>
          <div class="row">
            <div class="row service-subs">
              <div class="col s12 m6">
                <span class="service-title">Información general servicio</span>
              </div>
            </div>
            <div class="row">
              <div class="separator-subs z-depth-3"></div>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="numcontratoEdit" class="label-color">Número de contrato:</label>
              <input placeholder="" id="numcontratoEdit" type="text">
            </div>
            <div class="col s3">
              <label for="dirtvEdit" class="label-color">Dirección:</label>
              <input placeholder="" id="dirtvEdit" type="text">
            </div>
            <div class="col s3">
              <label for="urbanizacionEdit" class="label-color">Urbanización:</label>
              <input placeholder="" id="urbanizacionEdit" type="text">
            </div>
            <div class="col s3">
              <label for="torreEdit" class="label-color">Torre:</label>
              <input placeholder="" id="torreEdit" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="apartamentoEdit" class="label-color">Apartamento:</label>
              <input placeholder="" id="apartamentoEdit" type="text">
            </div>
            <div class="col s3">
              <label class="label-color">Barrio:</label>
              <select class="browser-default select-city" id="barriotvEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Zona:</label>
              <select class="browser-default select-city" id="zonatvEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="col s3">
              <label for="tel1tvEdit" class="label-color">Teléfono 1:</label>
              <input placeholder="" id="tel1tvEdit" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="te21tvEdit" class="label-color">Teléfono 2:</label>
              <input placeholder="" id="tel2tvEdit" type="text">
            </div>
            <div class="col s3">
              <label for="contactotvEdit" class="label-color">Contacto:</label>
              <input placeholder="" id="contactotvEdit" type="text" >
            </div>
            <div class="col s3">
              <label class="label-color">Estrato:</label>
              <select class="browser-default select-city" id="estratotvEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Tipo vivienda:</label>
              <select class="browser-default select-city" id="tipoviviendatvEdit">
                <option value=""  selected>Choose your option</option>
                <option value="1">Propia</option>
                <option value="2">Alquilada</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <label for="observacionEdit" class="label-color">Observación:</label>
              <input placeholder="" id="observacionEdit" type="text" class="datepicker">
            </div>
            <div class="col s3">
              <label for="fechacontratotvEdit" class="label-color">Fecha del contrato:</label>
              <input placeholder="" id="fechacontratotvEdit" type="text" class="datepicker">
            </div>
            <div class="col s3">
              <label class="label-color">Vendedor:</label>
              <select class="browser-default select-city" id="vendedortvEdit">
                <option value="" selected>Choose your option</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="col s3">
              <label class="label-color">Tipo instalación:</label>
              <select class="browser-default select-city" id="tipoinstalaciontvEdit">
                <option value="" selected>Choose your option</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
          </div>
          <div class="row">
              <div class="col s3">
                  <label class="label-color">Tipo tecnología:</label>
                  <select class="browser-default select-city" id="tipotecnologiatvEdit">
                    <option value="" selected>Choose your option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
                <div class="col s3">
                  <label class="label-color">Tipo de servicio:</label>
                  <select class="browser-default select-city" id="tiposerviciotvEdit">
                    <option value="" selected>Choose your option</option>
                    <option value="1">Residencial</option>
                    <option value="2">Comercial</option>
                  </select>
                </div>
                <div class="col s3">
                    <label class="label-color">Área de instalación:</label>
                    <select class="browser-default select-city" id="areainstalaciontvEdit">
                      <option value="" selected>Choose your option</option>
                      <option value="1">Urbana</option>
                      <option value="2">Rural</option>
                      <option value="2">Extrarural</option>
                    </select>
                  </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul class="collapsible" data-collapsible="accordion" id="collapsible-television">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">live_tv</i>
                    Televisión
                  </div>
                  <div class="collapsible-body">
                    <form action="">
                      <div class="row">
                        <div class="col s3">
                          <label class="label-color">Estado:</label>
                          <select class="browser-default select-city" id="estadotvEdit">
                            <option value=""  selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>
                        <div class="col s3">
                          <label for="numtvEdit" class="label-color">Televisores:</label>
                          <input placeholder="" id="numtvEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="numdecotvEdit" class="label-color">Decodificadores:</label>
                          <input placeholder="" id="numdecotvEdit" type="text">
                        </div>
                        <div class="col s3">
                            <label class="label-color">Permanencia:</label>
                            <select class="browser-default select-city" id="permanenciaEdit">
                              <option value="" selected>Choose your option</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="2">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                              <option value="32">32</option>
                              <option value="33">33</option>
                              <option value="34">34</option>
                              <option value="35">35</option>
                              <option value="36">36</option>
                            </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label for="precintotvEdit" class="label-color">Precinto:</label>
                          <input placeholder="" id="precintotvEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label class="label-color">Planes:</label>
                          <select class="browser-default select-city" id="planestvEdit">
                            <option value="" selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>         
                        <div class="col s3">
                          <label class="label-color">Tarifas:</label>
                          <select class="browser-default select-city" id="tarifastvEdit">
                            <option value="" selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>
                        <div class="col s3">
                          <label for="estadotvEdit" class="label-color">Estado:</label>
                          <input placeholder="" id="estadotvEdit" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label for="saldotvEdit" class="label-color">Saldo:</label>
                          <input placeholder="" id="saldotvEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="fechapagotvEdit" class="label-color">Fecha último pago:</label>
                          <input id="fechapagotvEdit" type="text" class="datepicker">
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul class="collapsible" data-collapsible="accordion" id="collapsible-internet">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">signal_wifi_4_bar</i>
                    Internet
                  </div>
                  <div class="collapsible-body">
                    <form action="">
                      <div class="row">
                        <div class="col s3">
                          <label for="diripEdit" class="label-color">Dirección IP:</label>
                          <input placeholder="" id="diripEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label class="label-color">Velocidad:</label>
                          <select class="browser-default select-city" id="velocidadEdit">
                            <option value=""  selected>Choose your option</option>
                            <option value="1">2mbps</option>
                            <option value="2">100mbps</option>
                          </select>
                        </div>
                        <div class="col s3">
                          <label for="mac1Edit" class="label-color">MAC 1:</label>
                          <input placeholder="" id="mac1Edit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="mac2Edit" class="label-color">MAC 2:</label>
                          <input placeholder="" id="mac2Edit" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label for="modemEdit" class="label-color">Serial módem:</label>
                          <input placeholder="" id="modemEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="marcamodemEdit" class="label-color">Marca módem:</label>
                          <input placeholder="" id="marcamodemEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="mascaraEdit" class="label-color">Máscara subred:</label>
                          <input placeholder="" id="mascaraEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="dnsEdit" class="label-color">DNS:</label>
                          <input placeholder="" id="dnsEdit" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label for="gatewayEdit" class="label-color">Gateway:</label>
                          <input placeholder="" id="gatewayEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="nodoEdit" class="label-color">Nodo:</label>
                          <input placeholder="" id="nodoEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="clavewifiEdit" class="label-color">Clave Wi-Fi:</label>
                          <input placeholder="" id="clavewifiEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label class="label-color">Equipo:</label>
                          <select class="browser-default select-city" id="equipoEdit">
                            <option value=""  selected>Choose your option</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label class="label-color">Planes:</label>
                          <select class="browser-default select-city" id="planesinternetEdit">
                            <option value=""  selected>Choose your option</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                          </select>
                        </div>
                        <div class="col s3">
                          <label class="label-color">Tarifas:</label>
                          <select class="browser-default select-city" id="tarifasinternetEdit">
                            <option value=""  selected>Choose your option</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                          </select>
                        </div>         
                        <div class="col s3">
                          <label for="estadointEdit" class="label-color">Estado:</label>
                          <input placeholder="" id="estadointEdit" type="text">
                        </div>
                        <div class="col s3">
                          <label for="saldointEdit" class="label-color">Saldo:</label>
                          <input placeholder="" id="estadointEdit" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s3">
                          <label for="fechapagointEdit" class="label-color">Fecha último pago:</label>
                          <input id="fechapagointEdit" type="text" class="datepicker">
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>