.select-pais{
    height: 1em;
    line-height: 1em;
}

#modal-crear{
    width: 70%;
}

#modal-see{
    width: 70%
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 0 !important;
    top: 100px;
    padding-top: 9px;
}

.check-type {
    margin-top: 1.5em;
}

.check-label{
    padding-left: 1.7em;
    padding-right: 0.5em;
    color: black;
}

.filter{
    margin-top: -1em;
}

#mostrar{
    width: 40%;
    margin-bottom: 2%;
}

.codigo-th {
    width: 5%;
}

.documento-th {
    width: 10%;
}

.nombre-th {
    width: 26%;
}

.direccion-th{
    width: 29%;
}

.telefono-th {
    width: 11%
}

.saldo-th {
    width: 8%
}

.service-title{
    font-size: 1em;
    font-weight: 800;
}

.service-subs{
    padding-top: 2%;
}

.separator-subs{
    background-color: black;
    height: 2px;
    margin-bottom: 1em;
}

#btn-options{
    visibility: hidden;
}

.collapsible-body {
    padding: 1rem;
}
