<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Tarifas</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Maestros</a>
        <a class="breadcrumb black-text">Tarifas</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <!-- <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
    </div> -->
  </div>
</div>
    
<!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()" [attr.max]="[numberOfRates]"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="codigo" class="label-color">Código:</label>
          <input id="nit" type="text" class="input-custom" [(ngModel)]="filter.id">
        </th>
        <th>
          <label for="zona" class="label-color">Zona:</label>
          <input id="zona" type="text" class="input-custom" [(ngModel)]="filter.zona">
        </th>
        <th>
          <label for="concepto" class="label-color">Concepto:</label>
          <input id="concepto" type="text" class="input-custom" [(ngModel)]="filter.concepto">
        </th>
        <th>
          <label for="valor" class="label-color">Valor:</label>
          <input id="valor" type="text" class="input-custom" [(ngModel)]="filter.valor">
        </th>
        <th>
          <label for="estado" class="label-color">Estado:</label>
          <input id="estado" type="text" class="input-custom" [(ngModel)]="filter.estado">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of rates | ratesfilter:filter | paginate: config; let i = index" name="rows" (click)="selectRow()">
        <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+rate.id" (change)="selectData(rate)"/>
          <label [attr.for]="'radio_'+rate.id"> </label>
        </td>
        <td (click)="openModal(rate)" href="#modal-see">{{ rate.id }}</td>
        <td (click)="openModal(rate)" href="#modal-see">{{ rate.zona }}</td>
        <td (click)="openModal(rate)" href="#modal-see">{{ rate.concepto }}</td>
        <td (click)="openModal(rate)" href="#modal-see">{{ rate.valor }}</td>
        <td (click)="openModal(rate)" href="#modal-see">{{ rate.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>
    
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <div class="col s12 m12 l12"></div>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
    
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deleteRate()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>
    
<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Crear</h5>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="rForm">
        <div class="row">
          <div class="col s12 m6 l6">
              <label for="codigo" class="label-color">Código</label>
              <input disabled placeholder="" id="codigo" type="text">
          </div>
          <div class="col s12 m6 l6">
            <label class="label-color">Zona <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="select-zone" formControlName="zona" required>
              <option [value]="zone.id" *ngFor="let zone of zones">{{ zone.nombre }}</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['zona'].value && rForm.controls['zona'].touched">{{ titleAlert }}</div>            
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <label class="label-color">Plan <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="select-plan" formControlName="plan" required #planes (change)="llenarConceptos(planes.value)">
              <option [value]="plan.id" *ngFor="let plan of plans">{{ plan.nombre }}</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['plan'].value && rForm.controls['plan'].touched">{{ titleAlert }}</div>            
          </div>
          <div class="col s12 m6 l6">
              <label class="label-color">Concepto <span class="span-color">*</span></label>
              <select class="browser-default select-city validate" id="select-concept" formControlName="concepto" required>
                <option [value]="concept.id" *ngFor="let concept of conceptSelect">{{ concept.nombre }}</option>
              </select>
            <div class="alert" *ngIf="!rForm.controls['concepto'].value && rForm.controls['concepto'].touched">{{ titleAlert }}</div>              
            </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <label for="val" class="label-color">Valor <span class="span-color">*</span></label>
            <input placeholder="" id="val" type="text" class="validate" pattern="^[0-9]+$" formControlName="valor" required>
            <div class="alert" *ngIf="!rForm.controls['valor'].value && rForm.controls['valor'].touched">{{ titleAlert }}</div>            
          </div>
          <div class="col s12 m6 l6">
            <label class="label-color">Estado <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="select-state" formControlName="estado" required>
              <option [value]="state.id" *ngFor="let state of states">{{ state.nombre }}</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['estado'].value && rForm.controls['estado'].touched">{{ titleAlert }}</div>            
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <label for="fechainicio" class="label-color">Fecha inicio <span class="span-color">*</span></label>
            <my-date-picker name="fechainicio" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" class="validate" formControlName="fechainicio" required></my-date-picker>
            <div class="alert" *ngIf="!rForm.controls['fechainicio'].value && rForm.controls['fechainicio'].touched">{{ titleAlert }}</div>          
          </div>
          <div class="col s12 m6 l6">
            <label for="fechafin" class="label-color">Fecha fin <span class="span-color">*</span></label>
            <my-date-picker name="fechafin" [options]="myDatePickerOptions" (dateChanged)="onDateChangedServ($event)" class="validate" formControlName="fechafin" required></my-date-picker>
            <div class="alert" *ngIf="!rForm.controls['fechafin'].value && rForm.controls['fechafin'].touched">{{ titleAlert }}</div>          
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!rForm.valid" (click)="createRate(rForm.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetForms()">Cancelar</button>
  </div>
</div>
    
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5>Tarifa</h5>
      </div> 
      <div class="col s6 m6 l6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <!-- <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a> -->
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="seeForm">
        <div class="row" *ngIf="rateEdit">
          <div class="col s12 m6 l6">
            <label for="codigoEdit" class="label-color">Código</label>
            <input disabled placeholder="" id="codigoEdit" type="text" class="validate" [(ngModel)]="rateEdit.id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l6">
            <label class="label-color">Zona <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="zonaEdit" (change)="selectClicked()">
              <option value="nodisplay" disabled selected>{{ zoneEdit }}</option>
              <option [value]="zone.id" *ngFor="let zone of zones">{{ zone.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="rateEdit">
          <div class="col s12 m6 l6">
            <label class="label-color">Plan <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="planEdit" #planesEdit (change)="llenarConceptos(planesEdit.value)">
              <option value="nodisplay" disabled selected>{{ planEdit }}</option>
              <option [value]="plan.id" *ngFor="let plan of plans">{{ plan.nombre }}</option>
            </select>
          </div>
          <div class="col s12 m6 l6">
              <label class="label-color">Concepto <span class="span-color">*</span></label>
              <select disabled class="browser-default select-city" id="conceptoEdit" (change)="selectClicked()">
                <option value="nodisplay" disabled selected>{{ conceptEdit }}</option>
                <option [value]="concept.id" *ngFor="let concept of conceptSelect">{{ concept.nombre }}</option>
              </select>
            </div>
        </div>
        <div class="row" *ngIf="rateEdit">
          <div class="col s12 m6 l6">
            <label for="valorEdit" class="label-color">Valor <span class="span-color">*</span></label>
            <input disabled placeholder="" id="valorEdit" type="text" pattern="^[0-9]+$" class="validate" formControlName="valor-ver" [(ngModel)]="rateEdit.valor" (click)="inputClicked()">
          </div>
          <div class="col s12 m6 l6">
            <label class="label-color">Estado <span class="span-color">*</span></label>
            <select disabled class="browser-default select-city" id="estadoEdit" (change)="selectClicked()">
              <option value="nodisplay" disabled selected>{{ stateEdit }}</option>
              <option [value]="state.id" *ngFor="let state of states">{{ state.nombre }}</option>  
            </select>
          </div>
        </div>
        <div class="row" *ngIf="rateEdit">
          <div class="col s12 m6 l6">
            <label for="fechainicioEdit" class="label-color">Fecha inicio <span class="span-color">*</span></label>
            <my-date-picker name="fechainicioEdit" [options]="myDatePickerOptions" class="validate" formControlName="fechainicio-ver" [(ngModel)]="model1" required [disabled]="disabled"
            [selDate]="selDate" (click)="inputClicked()"></my-date-picker>
          </div>
          <div class="col s12 m6 l6">
            <label for="fechafinEdit" class="label-color">Fecha vencimiento <span class="span-color">*</span></label>
            <my-date-picker name="fechafinEdit" [options]="myDatePickerOptions" [(ngModel)]="model2" class="validate" formControlName="fechafin-ver" required [disabled]="disabled"
            [selDate]="selDate2" (click)="inputClicked()"></my-date-picker>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-edit" class="modal-action modal-close waves-effect waves-green btn-flat" disabled (click)="updateRate()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetForms()">Cancelar</button>
  </div>
</div>
