<!-- Breadcrum-->
<div class="row bradcrum-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Países</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="col s12 m6">
    <a class="breadcrumb black-text">Maestros</a>
    <a class="breadcrumb black-text">Países</a>
  </div>
  <div class="col s12 m6 right-align">
  <a class='btn-floating btn button-options' href='#'><i class="material-icons">local_printshop</i></a>
  </div>
</div>

<!-- Table -->
<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th class="first-column">
        <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
        <label for="all"> </label>
      </th>
      <th>
        <label for="codigo" class="label-color">Código:</label>
        <input id="codigo" type="text" class="input-custom">
      </th>
      <th>
        <label for="pais" class="label-color">Nombre:</label>
        <input id="pais" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index" name="rows" (click)="selectRow()">
      <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(country)"/>
          <label [attr.for]="'radio_'+i"> </label>
      </td>
      <td (click)="openModal(country)" href="#modal-see">{{ country.id }}</td>
      <td (click)="openModal(country)" href="#modal-see">{{ country.nombre }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<div class="row center">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <!--<swal #dialog [options]="{ title: '¿Desea eliminar el registro?', 
    confirmButtonText: 'Si', cancelButtonText: 'No', showCancelButton: 'true', type: 'warning',
    confirmButtonColor: '#407FA9' }" (confirm)="deleteCountry()"></swal>-->
    <li><a class="btn-floating btn-eliminar red" (click)="deleteCountry()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>

  <!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Crear</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div> 
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s6">
            <label for="nombre" class="label-color">Nombre</label>
            <input placeholder=" " id="nombre" type="text" class="validate" #nameCountry>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="createCountry(nameCountry.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
  </div>
</div>

<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>País</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row" *ngIf="countriesEdit">
          <div class="col s6">
            <label for="codigoEdit" class="label-color">Código:</label>
            <input disabled placeholder="" id="codigoEdit" type="text" class="validate" [(ngModel)]="countriesEdit.id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s6">
            <label for="nombreEdit" class="label-color">Nombre:</label>
            <input disabled placeholder="" id="nombreEdit" type="text" class="validate" [(ngModel)]="countriesEdit.nombre" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <!--<swal #actualizar [options]="{ title: 'País actualizado con éxito', 
    confirmButtonText: 'Aceptar'}" type="info"></swal>-->
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="updateCountry()" (click)="actualizar.show()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
