.button-options{
    background-color: #407FA9;
    margin-bottom: 13px;
}

.dropdown-options{
    min-width: 10rem;
}

input[type=text]:not(.browser-default){
    height: 2em;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    margin: 0px 0 7px 0;
}

input[type=text]:not(.browser-default):disabled{
    background-color: #f5f2f0 !important;
    border-color: rgb(95, 90, 90) !important;
    margin: 2px 0 7px 0 !important;
}

.label-color{
    color: black;
}

.button-crud{
    background-color: #407FA9;
}

.btn-floating.btn-large {
    width: 40px;
    height: 40px;
    margin-bottom: 2.5em;
}

.btn-floating.btn-large i {
    line-height: normal;
    display: inline-block;
}

.btn-crear {
    width: 133%;
    background-color: #5aa8cb;
    border-radius: 3px;
    text-align: center;
    margin-right: 1em;
}

.btn-señal{
    width: 118%;
    background-color: #5aa8cb;
    border-radius: 3px;
    text-align: center;
}

.btn-eliminar{
    width: 100%;
    border-radius: 3px;
    background-color: #5aa8cb;
    text-align: center;
    margin-left: 5%;
    padding: 0 1em !important;
    visibility: hidden;
}

.icon-horizontal{
    align-content: center; 
}

#modal-crear{
    width: 36%;
}

#modal-see{
    width: 36%
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 0 !important;
    height: 16em;
}

.ul-button{
    padding-bottom: 7em
}

.li-button{
    margin-right: 1em !important;
}
