.select-pais{
    height: 1em;
    line-height: 1em;
}

#modal-crear{
    width: 50%;
}

#modal-see{
    width: 50%
}

.modal .modal-content {
    padding: 20px 24px;
    padding-bottom: 10px !important;
    height: 100%;
}



