<ul id="slide-out" class="side-nav">
  <div class="main-background">
    <h6 class="white-text center-align">ENLACE INFORMÁTICO</h6>
  </div>
  <li>
    <div class="user-view">
      <div class="background">
      </div>
      <img class="circle img-user" src="../../img/user.png">
      <span class="white-text name">Usuario</span>
      <span class="white-text email">
        <i class="tiny material-icons prefix icon">radio_button_checked</i> Online</span>
    </div>
  </li>
  <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
  <li>
    <div class="divider"></div>
  </li>
  <li class="no-padding background">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header white-text">
          <div>
            <i class="material-icons prefix">view_list</i>Maestros
          </div>
        </a>
        <div class="collapsible-body background">
          <ul>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">location_city</i>Ciudades
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">home</i>Zonas
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">store</i>Barrios
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">attach_money</i>Bancos
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">domain</i>Empresa
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">local_atm</i>Tarifas
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">people_outline</i>Suscriptores
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text" routerLink="">
                <div>
                  <i class="material-icons prefix">person_outline</i>Usuarios
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse">
  <i class="material-icons">menu</i>
</a>