.side-nav li>a {
    font-size: 14px;
}

.side-nav{
    width: 250px;
    background-color: #213030
}

.background{
    background-color: #213030
}

.main-background{
    background-color: #407fa9;
    height: 3.3em;
}

h6{
    margin-top: 0px;
    vertical-align: middle;
    padding-top: 0.7em;
    font-size: 1.3em;
}

.img-user {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    align-content: center
}

span{
    text-align: center
}

.icon{
    color: #64dd17
}

.icon-list{
    color: white
}

.second-icon{
    padding-right: 0.5em
}

.side-nav li > a > i.material-icons {
    margin: 0 5px 0 0;
}

.second-level{
    margin-left: 2em
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.side-nav li>a {
    font-weight: 300;
    height: 3em
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active, .side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: black;
}

.collapsible-header i {
    vertical-align: middle;
}

.collapsible-body i {
    vertical-align: middle;
}

.prefix{
    vertical-align: middle;
}