.header-card {
    width: 52em;
    height: 6em;
}

.card {
    align-self: center;
    max-width: 100rem;
    max-height: 50em;
    width: 52em;
    margin-left: 13em;
    margin-top: 4.3em;
}

h2 {
    color: white;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: normal;
    padding-top: 1.5em;
    padding-left: 4.5em
}

.welcome {
    text-align: center;
    color: #455a64;
    padding-top: 0.5em
}

.row .col.s12 {
    width: 71%;
    margin-left: 6em;
}

/*.login{
    padding-left: 200px;
}

.label-login {
    padding-left: 100px
}*/

body {
    background-image: url("../../img/pexels-photo.jpg");
    
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

html{
    margin: 0px;
    height: 100%;
    
}

.input-field{
    
}

.btn {
    margin-left: 13.5em;
}

.input-field input[type=text]:focus {
    color:#0288d1;
    border-bottom: #0288d1;
    box-shadow: #0288d1
}

.input-field :focus + label {
    color:#0288d1;
    border-bottom: #0288d1;
    box-shadow: #0288d1
  }

.input-field .prefix.active {
    color: #0288d1;
    border-bottom: #0288d1;
    box-shadow: #0288d1
  }