<base href="/">
<div class="row login-center">
  <div class="col s12">
    <div class="card white z-depth-4 card-center">
      <div class="header-card blue-grey darken-4">
        <h5 class="white-text">TUENLACETV</h5>
      </div>
      <div class="card-content">
        <form class="row login-form"> 
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            <input id="nom" type="text" class="validate login-input" required="" aria-required="true" #user autofocus>
            <label for="nom" class="label-login active">Nombre de usuario</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate login-input" required="" aria-required="true" #pss autofocus>
            <label for="password" class="label-login">Contraseña</label>
          </div>
          <div class="input-field col s12 m6 offset-m3">
            <select id="select-bd">
              <option value="" disabled selected>Seleccione la filial a trabajar</option>
              <option value="TUENLACETV">TUENLACETV</option>
              <option value="MEDELLIN">MEDELLIN</option>
              <option value="BOGOTA">BOGOTA</option>
              <option value="CALI">CALI</option>
            </select>
          </div>
          <div class="col s12">
            <button class="btn waves-effect waves-light login-button" type="submit" (click)="loginUser(user.value, pss.value)">
              Conectar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>