<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Técnicos</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="option-module">
    <div class="col s10 m6 l6">
      <a class="breadcrumb black-text">Técnicos</a>
      <a class="breadcrumb black-text">Órdenes</a>
    </div>
  </div>
  <div class="col s2 m6 l6 right-align">
    <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
  </div>
</div>
      
  <!-- Table -->
<div class="container-table">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="tipoorden" class="label-color">Tipo orden</label>
          <input id="tipoorden" type="text" class="input-custom" [(ngModel)]="filter.tipo_orden">
        </th>
        <th>
          <label for="numorden" class="label-color">Número orden</label>
          <input id="numorden" type="text" class="input-custom" [(ngModel)]="filter.nrorden">
        </th>
        <th>
          <label for="codsus" class="label-color">Cod suscriptor</label>
          <input id="codsus" type="text" class="input-custom" [(ngModel)]="filter.codsus">
        </th>
        <th>
          <label for="nombres" class="label-color">Nombres</label>
          <input id="nombres" type="text" class="input-custom" [(ngModel)]="filter.nombres">
        </th>
        <th>
          <label for="fechain" class="label-color">Fecha inicial</label>
          <input id="fechain" type="text" class="input-custom" [(ngModel)]="filter.fechain">
        </th>
        <th>
          <label for="fechaven" class="label-color">Fecha vencimiento</label>
          <input id="fechaven" type="text" class="input-custom" [(ngModel)]="filter.fechaven">
        </th>
        <th>
          <label for="valor" class="label-color">Valor</label>
          <input id="valor" type="text" class="input-custom" [(ngModel)]="filter.valor">
        </th>
        <th>
          <label for="estado" class="label-color">Estado</label>
          <input id="estado" type="text" class="input-custom" [(ngModel)]="filter.estado">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tech of technicians | techsfilter:filter; let i = index" name="rows" (click)="selectRow()">
        <td>
            <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(tech)"/>
            <label [attr.for]="'radio_'+i"> </label>
        </td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.tipo_orden }}</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.nrorden }}</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.entidad_id }}</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.nombres }}</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.fechatrn }}</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.fechaven }}</td>
        <td (click)="openModal(tech)" href="#modal-see">0</td>
        <td (click)="openModal(tech)" href="#modal-see">{{ tech.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>
      
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
  </div>
</div>
      
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deleteOrder()" id="btn-footer-delete">Anular</a></li>
    <li class="li-button"><a class="btn-floating btn-crear" routerLink="/subscriber">Crear</a></li>
  </ul>
</div>     
      
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h5>Orden</h5>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form *ngIf="techEdit">
        <div class="row">
          <div class="row service-order">
            <div class="col s12 m6">
              <span class="service-title">Suscriptor</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-order z-depth-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <label for="codigo" class="label-color">Código</label>
            <input disabled placeholder="" id="codigo" type="text" [(ngModel)]="techEdit.entidad_id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s5">
            <label for="nombres" class="label-color">Nombres</label>
            <input disabled placeholder="" id="nombres" type="text" [(ngModel)]="techEdit.nombres" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s5">
            <label for="telefonos" class="label-color">Teléfonos</label>
            <input disabled placeholder="" id="telefonos" type="text" [(ngModel)]="techEdit.telefonos" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="direccion" class="label-color">Dirección</label>
            <input disabled placeholder="" id="direccion" type="text" [(ngModel)]="techEdit.direccion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label class="label-color">Barrio</label>
            <select disabled class="browser-default select-city" id="select-neigh">
              <option value="nodisplay" disabled selected>{{ techEdit.barrio }}</option>
              <option [value]="neigh.id" *ngFor="let neigh of neighborhoods">{{ techEdit.barrio }}</option>
            </select>
          </div>
          <div class="col s4">
            <label class="label-color">Zona</label>
            <select disabled class="browser-default select-city" id="select-zone">
              <option value="nodisplay" disabled selected>{{ techEdit.zona }}</option>
              <option [value]="zone.id" *ngFor="let zone of zones">{{ techEdit.zona }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="estado" class="label-color">Estado</label>
            <input disabled placeholder="" class="not-disabled" id="estado" type="text" [(ngModel)]="techEdit.estado" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="fechaafi" class="label-color">Fecha afiliación</label>
            <input disabled placeholder="" class="not-disabled" id="fechaafi" type="text" [(ngModel)]="techEdit.fechacontrato" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s6">
            <label for="observaciones" class="label-color">Observaciones</label>
            <input disabled placeholder="" class="not-disabled" id="observaciones" type="text" [(ngModel)]="techEdit.observacion_senal" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label for="precinto" class="label-color">Precinto</label>
            <input disabled placeholder="" id="precinto" type="text" [(ngModel)]="techEdit.precinto" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="fechapago" class="label-color">Fecha último pago</label>
            <input disabled placeholder="" id="fechapago" type="text" class="datepicker" [(ngModel)]="techEdit.fecha_ult_pago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="saldo" class="label-color">Saldo televisión</label>
            <input disabled placeholder="" id="saldo" type="text" [(ngModel)]="techEdit.saldo_tv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="saldo" class="label-color">Saldo internet</label>
            <input disabled placeholder="" id="saldo" type="text" [(ngModel)]="techEdit.saldo_int" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="row service-order">
            <div class="col s12 m6">
              <span class="service-title">Orden</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-order z-depth-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label class="label-color">Tipo orden a generar</label>
            <select disabled class="browser-default select-city" id="select-order">
              <option value="nodisplay" disabled selected>{{ techEdit.tipo_orden }}</option>
              <option [value]="concept.id" *ngFor="let concept of concepts">{{ concept.nombre }}</option>
            </select>
          </div>
          <div class="col s2">
            <label for="abreviatura" class="label-color">Abreviatura</label>
            <input disabled placeholder="" id="abreviatura" type="text" [(ngModel)]="techEdit.abreviatura" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="numorden" class="label-color">Número orden</label>
            <input disabled placeholder="" class="select-edit" id="numorden" type="text" [(ngModel)]="techEdit.nrorden" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="fechaorden" class="label-color">Fecha orden</label>
            <input disabled placeholder="" id="fechaorden" type="text" class="datepicker select-edit" [(ngModel)]="techEdit.fechatrn" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s5">
            <label for="solicitado" class="label-color">Solicitado por</label>
            <input disabled placeholder="" class="select-edit" id="solicitado" type="text">
          </div>
          <div class="col s5">
            <label class="label-color">Empleado/Técnico</label>
            <select disabled class="browser-default select-city select-edit" id="select-employee">
              <option value="nodisplay" disabled selected>{{ techEdit.tecnico }}</option>
              <option [value]="tech.id" *ngFor="let tech of techs">{{ tech.nombres }}</option>
            </select>
          </div>
          <div class="col s2">
            <label for="valortotal" class="label-color">Valor total</label>
            <input disabled placeholder="0" id="valortotal" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s5">
            <label for="observorden" class="label-color">Observaciones</label>
            <input disabled placeholder="" class="select-edit" id="observorden" type="text" [(ngModel)]="techEdit.observacion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="estadoorden" class="label-color">Estado orden</label>
            <input disabled placeholder="" class="select-edit" id="estadoorden" type="text" [(ngModel)]="techEdit.estado" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s5">
            <label for="solucion" class="label-color">Solución Orden</label>
            <input disabled placeholder="" class="select-edit" id="solucion" type="text" [(ngModel)]="techEdit.observacion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s5">
            <label for="cobros" class="label-color">¿Desea realizar el cobro de los días?</label>
            <select disabled class="browser-default select-city select-edit" id="select-cobro">
              <option value="nodisplay" disabled selected>Seleccione</option>
              <option value="S">Si</option>
              <option value="N">No</option>              
            </select>
          </div>
        </div>
        <div class="row">
          <div class="row service-order">
            <div class="col s12 m6">
              <span class="service-title">Detalle artículos</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-order z-depth-3"></div>
          </div>
        </div>
        <form [formGroup]="rForm" (change)="validateDetail()">
          <div class="row">
            <div class="col s12 m4 l2">
              <label class="label-color">Grupo Artículos</label>
              <select class="browser-default select-city validate" id="grupopart" formControlName="grupoArticulos">
                <option value="nodisplay" disabled selected>Seleccione</option>
                <option [value]="group.id" *ngFor="let group of groups">{{ group.descripcion }}</option>
              </select>
              <div class="alert" *ngIf="!rForm.controls['grupoArticulos'].value && rForm.controls['grupoArticulos'].touched">{{ titleAlert }}</div>                                                    
            </div>
            <div class="col s12 m3 l2">
              <label for="articulos" class="label-color">Artículos</label>
              <select class="browser-default select-city validate" id="articles" formControlName="articulos" (change)="selectArticle()">
                <option value="nodisplay" disabled selected>Seleccione</option>
                <option [value]="article.id" *ngFor="let article of articles">{{ article.nombre }}</option>
              </select>
              <div class="alert" *ngIf="!rForm.controls['articulos'].value && rForm.controls['articulos'].touched">{{ titleAlert }}</div>                                                    
            </div>
            <div class="col s12 m3 l2">
              <label for="valor" class="label-color">Valor</label>
              <input placeholder="" id="valor" type="text" class="validate" [(ngModel)]="valor" (ngModelChange)="changeData()" formControlName="valor">
              <div class="alert" *ngIf="!rForm.controls['valor'].value && rForm.controls['valor'].touched">{{ titleAlert }}</div>                                                  
            </div>
            <div class="col s12 m2 l1">
              <label for="cantidad" class="label-color">Cantidad</label>
              <input placeholder="" id="cantidad" type="text" class="validate" [(ngModel)]="cantidad" formControlName="cantidad">
              <div class="alert" *ngIf="!rForm.controls['cantidad'].value && rForm.controls['cantidad'].touched">{{ titleAlert }}</div>                                                    
            </div>
            <div class="col s12 m3 l1">
              <label for="iva" class="label-color">%IVA</label>
              <input placeholder="" id="iva" type="text" class="validate" [(ngModel)]="porIva" (ngModelChange)="changeData()" formControlName="porIva">
              <div class="alert" *ngIf="!rForm.controls['porIva'].value && rForm.controls['porIva'].touched">{{ titleAlert }}</div>                                                 
            </div>
            <div class="col s12 m3 l2">
              <label for="valoriva" class="label-color">Valor IVA</label>
              <input placeholder="" disabled id="valoriva" type="text" [(ngModel)]="valorIva" formControlName="iva">                                                
            </div>
            <div class="col s12 m3 l2">
              <button class="btn-floating btn-large waves-effect waves-light table-btn grey darken-3" id="btn-detail" disabled (click)="addDetail(rForm.value)">+</button>
              <button class="btn-floating btn-large waves-effect waves-light table-btn grey darken-3" id="btn-remove-detail" (click)="removeDetail()">-</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="container-table"> 
            <!-- Table -->
            <table class="striped highlight">
              <thead>
                <tr class="tr-background">
                  <th>
                    <label class="label-color"></label>
                  </th>
                  <th>
                    <label class="label-color">Grupo</label>
                  </th>
                  <th>
                    <label class="label-color">Artículo</label>
                  </th>
                  <th>
                    <label class="label-color">Valor Unit</label>
                  </th>
                  <th>
                    <label class="label-color">Cantidad</label>
                  </th>
                  <th>
                    <label class="label-color">%IVA</label>
                  </th>
                  <th>
                    <label class="label-color">IVA</label>
                  </th>
                  <th>
                    <label class="label-color">Total</label>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of details; let i = index" name="rows-detail" class="tr-detail" (click)="selectRowDetail()">
                  <td>
                    <input name="group3" type="checkbox" class="filled-in" [id]="'radio1_'+i" (click)="selectDetail(detail)"/>
                    <label [attr.for]="'radio1_'+i"> </label>
                  </td>
                  <td>{{ detail.grupo }}</td>
                  <td>{{ detail.articulo }}</td>
                  <td>{{ detail.valor }}</td>
                  <td>{{ detail.cantidad }}</td>
                  <td>{{ detail.porIva }}</td>
                  <td>{{ detail.iva }}</td>
                  <td>{{ detail.total }}</td>                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="updatePlan()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
  