.select-pais{
    height: 1em;
    line-height: 1em;
}

/*.tr-detail {
    line-height: 1.5em !important;
}*/

#modal-see{
    width: 70%
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 16px !important;
    padding-top: 2px;
    height: 100%;
}

.service-order{
    padding-top: 1%;
}

.separator-order{
    background-color: black;
    height: 2px;
    margin-bottom: 0.3em;
}




