<ngx-loading [show]="loading"></ngx-loading>

<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Tesorería</span>
    </div>
  </div>
  <div class="row">
    <div class="separator z-depth-3"></div>
  </div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Tesorería</a>
        <a class="breadcrumb black-text">Pagos Anticipados</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options modal-trigger' id="btn-print" href="#modal-imprimir"><i class="material-icons">local_printshop</i></a>
    </div>
  </div>
</div>
        
<!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
          <label for="all"> </label>
        </th>
        <th class="pago-th">
          <label for="numpago" class="label-color">Número pago</label>
          <input id="numpago" type="text" class="input-custom" [(ngModel)]="filter.nropago">
        </th>
        <th class="codigo-th">
          <label for="codigo" class="label-color">Código</label>
          <input id="codigo" type="text" class="input-custom" [(ngModel)]="filter.entidad_id">
        </th>
        <th class="nombres-th">
          <label for="concepto" class="label-color">Nombres</label>
          <input id="concepto" type="text" class="input-custom" [(ngModel)]="filter.nombres">
        </th>
        <th class="fecha-th">
          <label for="fecha" class="label-color">Fecha</label>
          <input id="fecha" type="text" class="input-custom" [(ngModel)]="filter.fecha">
        </th>
        <th class="valor-th">
          <label for="valor" class="label-color">Valor</label>
          <input id="valor" type="text" class="input-custom" [(ngModel)]="filter.valor">
        </th>
        <th class="banco-th">
          <label for="banco" class="label-color">Banco</label>
          <input id="banco" type="text" class="input-custom" [(ngModel)]="filter.banco">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments | adpaymentsfilter:filter; let i = index" name="rows" (click)="selectRow()">
        <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+payment.id" (change)="selectData(payment)"/>
          <label [attr.for]="'radio_'+payment.id"> </label>
        </td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.nropago }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.entidad_id }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.nombres }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.trn }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.valor }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.banco }}</td>
      </tr>
    </tbody>
  </table>
</div> 
        
<!-- Pagination -->
<div class="container-pagination">
    <div class="row center">
        <div class="col s12 m12 l12"></div>
        <div class="has-text-centered">
            <pagination-controls [id]="config.id"
                                 [maxSize]="maxSize"
                                 [directionLinks]="directionLinks"
                                 [autoHide]="autoHide"
                                 [previousLabel]="labels.previousLabel"
                                 [nextLabel]="labels.nextLabel"
                                 [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                 [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                 [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                 (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </div>
  <!-- <div class="row center">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
  </div> -->
</div>
        
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deletePayment()" id="btn-footer-delete">Anular</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" routerLink="/subscriber" (click)="changeEntity()">Crear</a></li>
  </ul>
</div>
      
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5>Pago anticipado</h5>
      </div> 
      <div class="col s6 m6 l6  right-align">
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form>
        <div class="row">
          <div class="row service-payment">
            <div class="col s12 m12 l12">
              <span class="service-title">Suscriptor</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-payment z-depth-3"></div>
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m2 l2">
            <label for="codigo" class="label-color">Código</label>
            <input disabled placeholder="" id="codigo-orden" type="text" [(ngModel)]="paymentEdit.entidad_id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l5">
            <label for="nombres" class="label-color">Nombres y apellidos</label>
            <input disabled placeholder="" id="nombres-orden" type="text" [(ngModel)]="paymentEdit.nombres" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m4 l3">
            <label for="direccion" class="label-color">Dirección</label>
            <input disabled placeholder="" id="direccion-orden" type="text" [(ngModel)]="paymentEdit.direccion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l2">
            <label for="telefonos" class="label-color">Teléfonos</label>
            <input disabled placeholder="" id="telefonos-orden" type="text" [(ngModel)]="paymentEdit.telefonos" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m6 l4">
            <label class="label-color">Barrio</label>
            <input disabled placeholder="" id="barrio-orden" type="text" [(ngModel)]="paymentEdit.barrio" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l4">
            <label class="label-color">Zona</label>
            <input disabled placeholder="" id="zona-orden" type="text" [(ngModel)]="paymentEdit.zona" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l4">
            <label for="fechaafi-orden" class="label-color">Fecha afiliación</label>
            <input disabled placeholder="" id="fechaafi-orden" type="text" [(ngModel)]="paymentEdit.fechacontrato" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m6 l6">
            <label for="observaciones-orden" class="label-color">Observaciones</label>
            <input disabled placeholder="" id="observaciones-orden" type="text" [(ngModel)]="paymentEdit.observa_senal" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m3 l3">
            <label for="estadotv-orden" class="label-color">Estado televisión</label>
            <input disabled placeholder="" id="estadotv-orden" type="text" [(ngModel)]="paymentEdit.estado_tv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m3 l3">
            <label for="estadoint-orden" class="label-color">Estado internet</label>
            <input disabled placeholder="" id="estadoint-orden" type="text" [(ngModel)]="paymentEdit.estado_int" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m4 l4">
            <label for="fechapago-orden" class="label-color">Fecha último pago</label>
            <input disabled placeholder="" id="fechapago-orden" type="text" [(ngModel)]="paymentEdit.fecha_ult_pago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m4 l4">
            <label for="saldotv-orden" class="label-color">Saldo televisión</label>
            <input disabled placeholder="" id="saldotv-orden" type="text" [(ngModel)]="paymentEdit.saldo_tv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m4 l4">
            <label for="saldoint-orden" class="label-color">Saldo internet</label>
            <input disabled placeholder="" id="saldoint-orden" type="text" [(ngModel)]="paymentEdit.saldo_int" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="row service-payment">
            <div class="col s12 m6">
              <span class="service-title">Pago</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-payment z-depth-3"></div>
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m6 l3">
            <label class="label-color">Servicio</label>
            <input placeholder="" id="servicio" type="text" disabled [(ngModel)]="paymentEdit.servicio" [ngModelOptions]="{standalone: true}">                                      
          </div>
          <div class="col s12 m6 l3">
            <label class="label-color">Tipo documento</label>
            <input placeholder="" id="tipodoc" type="text" disabled [(ngModel)]="paymentEdit.documento" [ngModelOptions]="{standalone: true}">                                      
          </div>
          <div class="col s12 m6 l3">
            <label for="numdoc" class="label-color">Número documento</label>
            <input placeholder="" id="numdoc" type="text" disabled [(ngModel)]="paymentEdit.nropago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l3">
            <label for="fechadoc" class="label-color">Fecha del documento</label>
            <input placeholder="" id="fechadoc" type="text" disabled [(ngModel)]="paymentEdit.fechatrn" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m6 l6">
            <label for="obserpago" class="label-color">Observaciones</label>
            <input disabled placeholder="" id="obserpago" type="text" [(ngModel)]="paymentEdit.observacion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l3">
            <label for="fechapa" class="label-color">Fecha PxA</label>
            <input disabled placeholder="" id="fechapa" type="text" [(ngModel)]="paymentEdit.fechapxa" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l3">
            <label for="cuotas" class="label-color">Cuotas</label>
            <input disabled placeholder="" id="cuotas" type="text" [(ngModel)]="paymentEdit.cuotas" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row" *ngIf="paymentEdit">
          <div class="col s12 m6 l3">
            <label for="obserpago" class="label-color">Cobrador</label>
            <input disabled placeholder="" id="cobradores" type="text" [(ngModel)]="paymentEdit.cobrador" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l3">
            <label class="label-color">Banco</label>
            <input disabled placeholder="" id="banco" type="text" [(ngModel)]="paymentEdit.banco" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s12 m6 l3">
            <label class="label-color">Forma de pago</label>
            <input disabled placeholder="" id="formapago" type="text" [(ngModel)]="paymentEdit.forma_pago" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>

<!--Modal Imprimir -->
<div id="modal-imprimir" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Imprimir</h5>
      </div>
    </div>
  </div> 
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="printForm">
        <div class="row">
          <div class="col s12 m6 l6">
            <label for="fechainicio" class="label-color">Fecha inicio <span class="span-color">*</span></label>
            <my-date-picker name="fechainicio" [options]="myDatePickerOptions" (dateChanged)="onDatePrint($event)" required formControlName="fechainicio"></my-date-picker>
            <div class="alert" *ngIf="!printForm.controls['fechainicio'].value && printForm.controls['fechainicio'].touched">{{ titleAlert }}</div>          
          </div>
          <div class="col s12 m6 l6">
            <label for="fechafin" class="label-color" >Fecha fin <span class="span-color">*</span></label>
            <my-date-picker name="fechafin" [options]="myDatePickerOptions" (dateChanged)="onDatePrint2($event)" required formControlName="fechafin"></my-date-picker>           
            <div class="alert" *ngIf="!printForm.controls['fechafin'].value && printForm.controls['fechafin'].touched">{{ titleAlert }}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!printForm.valid" (click)="exportToExcel(printForm.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetForms()">Cancelar</button>
  </div>
</div>
    
  