<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Ciudades</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Maestros</a>
        <a class="breadcrumb black-text">Ciudades</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <!-- <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
    </div> -->
  </div>
</div>

<!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()" [attr.max]="[numberOfCities]"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="codigo" class="label-color">Código:</label>
          <input id="codigo" type="text" class="input-custom" [(ngModel)]="filter.id">
        </th>
        <th>
          <label for="nombre" class="label-color">Nombre:</label>
          <input id="nombre" type="text" class="input-custom" [(ngModel)]="filter.nombre">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities | citiesfilter:filter | paginate: config; let i = index" name="rows" (click)="selectRow()">
        <td>
            <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+city.id" (change)="selectData(city)"/>
            <label [attr.for]="'radio_'+city.id"> </label>
        </td>
        <td (click)="openModal(city)" href="#modal-see">{{ city.id }}</td>
        <td (click)="openModal(city)" href="#modal-see">{{ city.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <div class="col s12 m12 l12"></div>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
 
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deleteCity()" id="btn-footer-delete">Eliminar</a></li>
    <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  </ul>
</div>

<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Crear</h5>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="rForm">
        <div class="row">
          <div class="col s12 m6 l4">
              <label for="cod" class="label-color">Código</label>
              <input disabled placeholder=""  id="cod" type="text">
          </div>
          <div class="col s12 m12 l4">
              <label class="label-color">País <span class="span-color">*</span></label>
              <select class="browser-default select-city validate" id="select-country" formControlName="pais" required #paises (change)="llenarDep(paises.value)">
                <option [value]="country.id" *ngFor="let country of countries">{{ country.nombre }}</option>
              </select>
              <div class="alert" *ngIf="!rForm.controls['pais'].value && rForm.controls['pais'].touched">{{ titleAlert }}</div>
          </div>
          <div class="col s12 m12 l4">
            <label class="label-color">Departamento <span class="span-color">*</span></label>
            <select class="browser-default select-city validate" id="select-depart" formControlName="depart" required>
              <option value="1" [value]="dep.id" *ngFor="let dep of depSelect">{{ dep.nombre }}</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['depart'].value && rForm.controls['depart'].touched">{{ titleAlert }}</div>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4">
              <label for="nom" class="label-color">Nombre <span class="span-color">*</span></label>
              <input placeholder="" id="nom" type="text" class="validate" pattern="^[a-zA-Z\s.áéíóúÁÉÍÓÚ]+$" formControlName="nombre" required>
              <div class="alert" *ngIf="!rForm.controls['nombre'].value && rForm.controls['nombre'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="codigoDane" class="label-color">Código Dane</label>
              <input placeholder="" id="codigoDane" type="text" pattern="^[0-9]+$" formControlName="coddane">
            </div>
            <div class="col s12 m6 l4">
              <label for="codalterno" class="label-color">Código Alterno</label>
              <input placeholder="" id="codalterno" type="text" pattern="^[0-9]+$" formControlName="codalt">
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [disabled]="!rForm.valid" (click)="createCity(rForm.value)">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetForms()">Cancelar</button>
  </div>
</div>

<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s12 m6 l6">
          <h5>Ciudad</h5>
      </div>
      <div class="col s12 m6 l6 right-align">
        <a class="btn-floating btn-large btn-print" (click)="edit()" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">edit</i>
        </a>
        <!-- <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a> -->
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form [formGroup]="seeForm">
        <div class="row" *ngIf="citiesEdit">
          <div class="row">
            <div class="col s12 m6 l4">
              <label for="codigoEdit" class="label-color">Código</label>
              <input placeholder="" disabled id="codigoEdit" type="text" class="validate" [(ngModel)]="citiesEdit.id" [ngModelOptions]="{standalone: true}">
            </div>
            <!-- <div class="col s12 m12 l4">
              <label  class="label-color">País <span class="span-color">*</span></label>
              <select disabled class="browser-default select-city" id="selectEdit" (change)="selectClicked()" formControlName="pais" [compareWith]="compare" >
                <option [ngValue]="countryPrueba"  *ngFor="let countryPrueba of countries">{{ countryPrueba.nombre }}</option>
              </select>
            </div>
            <div class="col s12 m12 l4">
              <label class="label-color">Departamento <span class="span-color">*</span></label>
              <select disabled class="browser-default select-city" id="selectDep" (change)="selectClicked()" formControlName="dep" [compareWith]="compare">
                <option [ngValue]="depEdit" *ngFor="let depEdit of departments">{{ depEdit.nombre }}</option>
              </select>
            </div>  -->
            <div class="col s12 m12 l4">
                <label  class="label-color">País <span class="span-color">*</span></label>
                <select disabled class="browser-default select-city" id="selectEdit" (change)="selectClicked()">
                  <option value="nodisplay" disabled selected >{{ countryEdit }}</option>
                  <option [value]="country.id" *ngFor="let country of countries">{{ country.nombre }}</option>
                </select>
              </div>
              <div class="col s12 m12 l4">
                <label class="label-color">Departamento <span class="span-color">*</span></label>
                <select disabled class="browser-default select-city" id="selectDep" (change)="selectClicked()">
                    <option value="nodisplay" disabled selected >{{ depEdit }}</option>                  
                  <option [value]="dep.id" *ngFor="let dep of departments">{{ dep.nombre }}</option>
                </select>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l4">
              <label for="nombreEdit" class="label-color">Nombre <span class="span-color">*</span></label>
              <input placeholder="" disabled id="nombreEdit" type="text" pattern="^[a-zA-Z\s.áéíóúÁÉÍÓÚ]+$" class="validate" (click)="inputClicked()" formControlName="nombre-ver" [(ngModel)]="citiesEdit.nombre">
              <div class="alert" *ngIf="!seeForm.controls['nombre-ver'].value && seeForm.controls['nombre-ver'].touched">{{ titleAlert }}</div>
            </div>
            <div class="col s12 m6 l4">
              <label for="coddaneEdit" class="label-color">Código Dane</label>
              <input placeholder="" disabled id="coddaneEdit" type="text" pattern="^[0-9]+$" class="validate" (click)="inputClicked()" [(ngModel)]="citiesEdit.codigoDane" formControlName="coddane">
            </div>
            <div class="col s12 m6 l4">
              <label for="codalternoEdit" class="label-color">Código Alterno</label>
              <input placeholder="" disabled id="codalternoEdit" type="text" pattern="^[0-9]+$" class="validate" (click)="inputClicked()" [(ngModel)]="citiesEdit.codigoAlterno" formControlName="codalt">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-edit" class="modal-action modal-close waves-effect waves-green btn-flat" disabled (click)="updateCity()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetForms()">Cancelar</button>
  </div>
</div>


