<!-- Breadcrum-->
<div class="row bradcrum-position">
  <div class="col s12 m6">
      <a class="breadcrumb black-text">First</a>
      <a class="breadcrumb black-text">Second</a>
      <a class="breadcrumb black-text">Third</a>
    </div>

  <div class="col s12 m6 right-align">
    <a class='btn-floating dropdown-button btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content dropdown-options'>
      <li><a href="#!">Pagos</a></li>
      <li><a href="#!">Órdenes técnicas</a></li>
      <li><a href="#!">Generar factura</a></li>
      <li><a href="#!">PQR</a></li>
    </ul> 
  </div>
          
</div>

<!-- Table -->
<table class="striped highlight">
  <thead>
    <tr class="tr-background">
      <th class="first-column">
          <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
          <label for="filled-in-box"> </label>
      </th>
      <th>
        <label for="codigo" class="label-color">Código:</label>
        <input id="codigo" type="text" class="input-custom">
      </th>
      <th>
        <label for="documento" class="label-color">Nombre:</label>
        <input id="documento" type="text" class="input-custom">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suscriptor of ['','','','','','']; let i = index">
      <td>
          <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
          <label for="filled-in-box"> </label>
      </td>
      <td>aaaa</td>
      <td>aaaa</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<div class="row right">
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
<a class="btn-floating btn-large button-crud">
  <i class="large material-icons icon-horizontal">add</i>
</a>
<ul class="ul-button">
  <li class="li-button"><a class="btn-floating btn-crear modal-trigger" href="#modal-crear">Crear</a></li>
  <swal #dialog [options]="{ title: '¿Desea eliminar el registro?', 
  confirmButtonText: 'Si', cancelButtonText: 'No', showCancelButton: 'true', type: 'warning',
  confirmButtonColor: '#407FA9' }" (confirm)="deleteCity()"></swal>
  <li><a class="btn-floating btn-eliminar red" (click)="dialog.show()">Eliminar</a></li>
</ul>
</div>

<!--Modal Crear -->
<div id="modal-crear" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h4>Crear</h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="" id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <div class="col s6 select-pais">
              <label>País</label>
              <select class="browser-default select-city">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="" id="nombre1" type="text" class="validate">
            <label for="nombre1">Nombre</label>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>