<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Tesorería</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="col s12 m6">
    <a class="breadcrumb black-text">Tesorería</a>
    <a class="breadcrumb black-text">Pagos</a>
  </div>
  <div class="col s12 m6 right-align">
    <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
  </div>
</div>
      
<!-- Table -->
<div class="container-table">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()"/>
          <label for="all"> </label>
        </th>
        <th class="pago-th">
          <label for="numpago" class="label-color">Número pago</label>
          <input id="numpago" type="text" class="input-custom" [(ngModel)]="filter.nropago">
        </th>
        <th class="codigo-th">
          <label for="codigo" class="label-color">Código</label>
          <input id="codigo" type="text" class="input-custom" [(ngModel)]="filter.id">
        </th>
        <th class="nombres-th">
          <label for="concepto" class="label-color">Nombres</label>
          <input id="concepto" type="text" class="input-custom" [(ngModel)]="filter.nombres">
        </th>
        <th class="fecha-th">
          <label for="fecha" class="label-color">Fecha</label>
          <input id="fecha" type="text" class="input-custom" [(ngModel)]="filter.fechatrn">
        </th>
        <th class="valor-th">
          <label for="valor" class="label-color">Valor</label>
          <input id="valor" type="text" class="input-custom" [(ngModel)]="filter.valor">
        </th>
        <th class="banco-th">
          <label for="banco" class="label-color">Banco</label>
          <input id="banco" type="text" class="input-custom" [(ngModel)]="filter.banco">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments | paymentsfilter:filter; let i = index" name="rows" (click)="selectRow()">
        <td>
          <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(payment)"/>
          <label [attr.for]="'radio_'+i"> </label>
        </td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.nropago }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.id }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.nombres }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.fechatrn }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.valor }}</td>
        <td (click)="openModal(payment)" href="#modal-see">{{ payment.banco }}</td>
      </tr>
    </tbody>
  </table>
</div>
      
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
  </div>
</div>
      
<!-- Footer Button -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large button-crud">
    <i class="large material-icons icon-horizontal">add</i>
  </a>
  <ul class="ul-button">
    <li><a class="btn-floating btn-eliminar red" (click)="deletePayment()" id="btn-footer-delete">Anular</a></li>
    <li class="li-button"><a class="btn-floating btn-crear" routerLink="/subscriber">Crear</a></li>
  </ul>
</div>
      
<!-- Modal See -->
<div id="modal-see" class="modal">
  <div class="modal-title">
    <div class="row">
      <div class="col s6">
          <h5>Pago</h5>
      </div> 
      <div class="col s6 right-align">
        <a class="btn-floating btn-large btn-print" id="btn-modal">
            <i class="large material-icons icon-horizontal icon-print">local_printshop</i>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form *ngIf="payEdit">
        <div class="row">
          <div class="row service-payment">
            <div class="col s12 m6">
              <span class="service-title">Suscriptor</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-payment z-depth-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <label for="codigo" class="label-color">Código</label>
            <input disabled placeholder="" id="codigo" type="text"[(ngModel)]="payEdit.id" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label for="nombres" class="label-color">Nombres</label>
            <input disabled placeholder="" id="nombres" type="text" [(ngModel)]="payEdit.nombres" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="direccion" class="label-color">Dirección</label>
            <input disabled placeholder="" id="direccion" type="text" [(ngModel)]="payEdit.direccion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="telefonos" class="label-color">Teléfonos</label>
            <input disabled placeholder="" id="telefonos" type="text" [(ngModel)]="payEdit.telefonos" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label class="label-color">Barrio</label>
            <input disabled placeholder="" id="barrio" type="text" [(ngModel)]="payEdit.barrio" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label class="label-color">Zona:</label>
            <input disabled placeholder="" id="zona" type="text" [(ngModel)]="payEdit.zona" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label for="fechaafi" class="label-color">Fecha afiliación</label>
            <input disabled placeholder="" id="fechaafi" type="text"  [(ngModel)]="payEdit.fechacontrato" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="observaciones" class="label-color">Observaciones</label>
            <input disabled placeholder="" id="observaciones" type="text" [(ngModel)]="payEdit.observacion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="estadotv" class="label-color">Estado televisión</label>
            <input disabled placeholder="" id="estadotv" type="text" [(ngModel)]="payEdit.estado_tv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="estadoint" class="label-color">Estado internet</label>
            <input disabled placeholder="" id="estadoint" type="text" [(ngModel)]="payEdit.estado_int" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="fechapago" class="label-color">Fecha último pago</label>
            <input disabled placeholder="" id="fechapago" type="text" [(ngModel)]="payEdit.fecha_ult_pago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label for="saldotv" class="label-color">Saldo televisión</label>
            <input disabled placeholder="" id="saldotv" type="text" [(ngModel)]="payEdit.saldo_tv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s4">
            <label for="saldoint" class="label-color">Saldo internet</label>
            <input disabled placeholder="" id="saldoint" type="text" [(ngModel)]="payEdit.saldo_int" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="row service-payment">
            <div class="col s12 m6">
              <span class="service-title">Pago</span>
            </div>
          </div>
          <div class="row">
            <div class="separator-payment z-depth-3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label class="label-color">Tipo documento</label>
            <input disabled placeholder="" id="tipodoc" type="text" [(ngModel)]="payEdit.documento" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="numdoc" class="label-color">Número documento</label>
            <input disabled placeholder="" id="numdoc" type="text" [(ngModel)]="payEdit.nropago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="fechadoc" class="label-color">Fecha del documento</label>
            <input disabled placeholder="" id="numdoc" type="text" [(ngModel)]="payEdit.fechatrn" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label for="pagado" class="label-color">Total pagado</label>
            <input disabled placeholder="" id="pagado" class="datepicker" type="text" [(ngModel)]="payEdit.valor" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="obserpago" class="label-color">Observaciones</label>
            <input disabled placeholder="" id="obserpago" type="text" [(ngModel)]="payEdit.observacion" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label class="label-color">Forma de pago</label>
            <input disabled placeholder="" id="formapago" type="text" [(ngModel)]="payEdit.forma_pago" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col s3">
            <label class="label-color">Banco</label>
            <input disabled placeholder="" id="banco" type="text" [(ngModel)]="payEdit.banco" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="updateRate()">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>
  
