<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6 l6">
      <span class="process-title">Facturaciones generadas</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="row">
    <div class="col s10 m6 l6">
      <div class="row option-module">
        <a class="breadcrumb black-text">Facturación</a>
        <a class="breadcrumb black-text">Facturaciones generadas</a>
      </div>
      <div class="row">
        <label class="label-color">Registros por página:</label>
        <select class="browser-default select-city" id="registros">
          <option value="nodisplay" disabled selected>10</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>          
        </select>
      </div>
    </div>
    <div class="col s2 m6 l6 right-align">
      <a class='btn-floating btn button-options' href='#' data-activates='dropdown1'><i class="material-icons">local_printshop</i></a>
    </div>
  </div>
</div>
    
<!-- Table -->
<div class="container-table" id="container-pag">
  <table class="striped highlight">
    <thead>
      <tr class="tr-background">
        <th class="first-column">
          <input name="group2" type="checkbox" class="filled-in" id="all" (click)="selectAll()" [attr.max]="[numberOfConcepts]"/>
          <label for="all"> </label>
        </th>
        <th>
          <label for="factinicial" class="label-color">Número factura inicial</label>
          <input id="factinicial" type="text" class="input-custom" [(ngModel)]="filter.nrofact_ini">
        </th>
        <th>
          <label for="factfinal" class="label-color">Número factura final</label>
          <input id="factfinal" type="text" class="input-custom" [(ngModel)]="filter.nrofact_fin">
        </th>
        <th>
          <label for="fecelab" class="label-color">Fecha elaboración</label>
          <input id="fecelab" type="text" class="input-custom" [(ngModel)]="filter.fecha_elaboracion">
        </th>
        <th>
          <label for="feciniperiodo" class="label-color">Fecha inicio periodo</label>
          <input id="feciniperiodo" type="text" class="input-custom" [(ngModel)]="filter.fecha_inicio">
        </th>
        <th>
          <label for="fecfinperiodo" class="label-color">Fecha fin periodo</label>
          <input id="fecfinperiodo" type="text" class="input-custom" [(ngModel)]="filter.fecha_fin">
        </th>
        <th>
          <label for="fecvence" class="label-color">Fecha vencimiento</label>
          <input id="fecvence" type="text" class="input-custom" [(ngModel)]="filter.fecha_vence">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of gbillings | gbillingsfilter:filter | paginate: config; let i = index" name="rows" (click)="selectRow()">
        <td>
            <input name="group1" type="checkbox" class="filled-in" [id]="'radio_'+i" (change)="selectData(bill)"/>
            <label [attr.for]="'radio_'+i"> </label>
        </td>
        <td>{{ bill.nrofact_ini }}</td>
        <td>{{ bill.nrofact_fin }}</td>
        <td>{{ bill.fecha_elaboracion }}</td>
        <td>{{ bill.fecha_inicio }}</td>
        <td>{{ bill.fecha_fin }}</td>
        <td>{{ bill.fecha_vence }}</td>
      </tr>
    </tbody>
  </table>
</div>
    
<!-- Pagination -->
<div class="container-pagination">
  <div class="row center">
    <div class="col s12 m12 l12"></div>
    <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
    

