.background{
    background-color: #468EBC;
    height: auto;
    line-height: 3rem;
}

.img-user{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block
}

.background ul a {
   display: inline-block;
}

.background .brand-logo{
    font-size: 1rem;
    padding-left: 1em;
    background-color: #407FA9;
    padding-right: 1em;
    width: 15em;
    text-align: center;
}

.background .material-icons{
    height: auto;
    line-height: 3rem !important;
    margin-left: 0.15em;
}

.background .button-collapse{
    display: block;
    left: 6rem;
    cursor: pointer;
    height: 3rem;
}

.background .button-collapse:hover {
    background-color: #3f7fa9;
    width: 2em;
    padding-left: 0;
    margin-left: 13px;
}

.button-menu {
    height: auto;
    line-height: 2rem;
    margin-left: 9.2rem !important;
    margin-right: 0px;
}

.icon-menu {
    margin-left: 3px !important;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 3rem;
    left: 0;
    background-color: #213030;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0 !important;
}

.side-nav.show {
    transform: translateY(0);
}

.side-nav .background{
    background-color: #213030
}

.side-nav .main-background{
    background-color: #407fa9;
    height: 3.3em;
}

.side-nav h6{
    margin-top: 0px;
    vertical-align: middle;
    padding-top: 0.7em;
    font-size: 1.3em;
}

.side-nav .img-user {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    align-content: center
}

.side-nav .user-view {
    position: relative;
    padding: 32px 5em 0;
    margin-bottom: 8px;
}

.nav-view{
    margin-top: 0 !important;
}

.side-nav span{
    text-align: center
}

.side-nav .icon{
    color: #64dd17
}

.side-nav .icon-list{
    color: white
}

.side-nav .second-icon{
    padding-right: 0.5em;
    line-height: 2rem !important;
    font-size: 1.4rem;
}

.side-nav li > a > i.material-icons {
    margin: 0 5px 0 0;
}

.side-nav .second-level{
    margin-left: 1em
}

.side-nav .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.side-nav li > a {
    font-weight: 300;
    width: 100%;
    height: auto;
    line-height: 1rem;
    font-size: 13px;
}

.side-nav li > a:hover {
    font-weight: 700;
}

.side-nav li {
    line-height: 0;
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active, .side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: black;
}

.collapsible-header i, .collapsible-body i, .prefix {
    vertical-align: middle;
}

.user-nav {
    padding-top: 0 !important;
}

.img-modal{
    width: 90px;
    height: 90px;
    vertical-align: middle;
}

input[type=text]:not(.browser-default){
    height: 2em;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    margin: 0px 0 7px 0;
}

.modal{
    background-color: #343e45;
    width: 20em;
    height: 14em;
    margin-right: 3px;
    margin-top: 1px;
    top: 3.5em !important;
}

.modal-footer{
    background-color: #192329
}

.modal .modal-content {
    padding-top: 1em;
    padding-bottom: 0;
}

.modal-user{
   margin-bottom: 0;
}

.change-password{
   /*  padding: 24px; */
    padding-bottom: 0 !important;
    height: 17em;
    width: 30%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.change-password .modal-title {
    height: 19%;
}

.change-password .modal-content {
    padding: 24px;
    margin-bottom: 3%;
    padding-bottom: 0 !important;
    height: 10em;
}

.change-password .modal-footer {
    background-color: #478fbc
}

.modal .modal-footer .btn {
    margin: 4px 0;
    height: 2.5em;
    width: 6em;
    font-size: 11px;
    text-align: center;
    line-height: 2.7em;
    vertical-align: middle;
    padding-left: 1.5em;
    padding-top: 0em;
}

.modal .modal-footer {
    height: 3em;
}

.modal-overlay {
    background: none !important;
    opacity: none !important;
}

.li-button {
    margin-right: 1em !important;
}

.btn-pssword{
    float: left;
    width: 55% !important;
    padding: 0 !important;
}

.text-header {
    line-height: 2.8rem !important;
    margin-right: 8px !important;
}

.header-option{
    padding-left: 2% !important;
}

.body-option {
    padding-left: 4% !important;
}

@media only screen and (max-width: 992px){  
    nav .brand-logo {
        left: 7.5rem;
    }
}
