<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><img class="circle img-user" src="https://pbs.twimg.com/profile_images/844328219465728000/qUUfHbb1_400x400.jpg">
        <a href="#modal1" class="d-inline-block modal-trigger">Usuario</a></li>
    </ul>
  </div>
</nav>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row center">
          <img class="circle img-modal" src="https://pbs.twimg.com/profile_images/844328219465728000/qUUfHbb1_400x400.jpg">
      </div>
        <span class="white-text">Usuario</span>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn">Salir</a>
    </div>
</div>