<div class="navbar-fixed">
  <nav class="background">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">TUENLACETV</a>
      <a class="button-collapse" (click)="toggleShow()">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <img class="circle img-user" src="https://pbs.twimg.com/profile_images/844328219465728000/qUUfHbb1_400x400.jpg">
          <a class="modal-trigger" href="#modal1">Usuario</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="#modal1">Usuario</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- User Modal -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row center">
          <img class="circle img-modal" src="https://pbs.twimg.com/profile_images/844328219465728000/qUUfHbb1_400x400.jpg">
      </div>
      <div class="row center modal-user">
          <span class="white-text">Usuario</span>
      </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn blue btn-pssword" (click)="changePassword()">Cambiar contraseña</a>
        <a class="waves-effect waves-light btn blue" (click)="closeModal()">Salir</a>
    </div>
</div>

<!-- Password Modal -->
<div id="modal-password" class="modal change-password">
  <div class="modal-title">
    <div class="row">
      <div class="col s12">
          <h4>Cambiar contraseña</h4>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s12">
            <label for="passwordChange" class="label-color">Antigua contraseña:</label>
            <input placeholder="" id="passwordChange" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label for="newpassword" class="label-color">Nueva contraseña:</label>
            <input placeholder="" id="newpassword" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
  </div>
</div>

<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li class="user-nav">
    <div class="user-view nav-view">
      <div class="background">
      </div>
      <img class="circle img-user" src="https://pbs.twimg.com/profile_images/844328219465728000/qUUfHbb1_400x400.jpg">
      <span class="white-text name">Usuario</span>
      <span class="white-text email">
        <i class="tiny material-icons prefix icon">radio_button_checked</i> Online</span>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li class="no-padding background">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header white-text header-option">
          <div>
            <i class="material-icons prefix text-header">view_list</i>Maestros
          </div>
        </a>
        <div class="collapsible-body background">
          <ul>
            <li>
              <a class="second-level white-text body-option" routerLink="/countries">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>País
                </div>
              </a>
            </li>
            <li>
                <a class="second-level white-text body-option" routerLink="/departments">
                  <div>
                    <i class="material-icons prefix second-icon">location_city</i>Departamento
                  </div>
                </a>
              </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/cities">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>Ciudades
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/company">
                <div>
                  <i class="material-icons prefix second-icon">domain</i>Empresa
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/banks">
                <div>
                  <i class="material-icons prefix second-icon">attach_money</i>Bancos
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/zones">
                <div>
                  <i class="material-icons prefix second-icon">home</i>Zonas
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/neighborhoods">
                <div>
                  <i class="material-icons prefix second-icon">store</i>Barrios
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/concepts">
                <div>
                  <i class="material-icons prefix second-icon">local_atm</i>Conceptos
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/plans">
                <div>
                  <i class="material-icons prefix second-icon">local_atm</i>Planes
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/rates">
                <div>
                  <i class="material-icons prefix second-icon">local_atm</i>Tarifas
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/subscriber">
                <div>
                  <i class="material-icons prefix second-icon">people_outline</i>Suscriptores
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/bills">
                <div>
                  <i class="material-icons prefix second-icon">person_outline</i>Tipo Facturación
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/users">
                <div>
                  <i class="material-icons prefix second-icon">person_outline</i>Usuarios
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="collapsible-header white-text header-option">
          <div>
            <i class="material-icons prefix text-header">view_list</i>Facturación
          </div>
        </a>
        <div class="collapsible-body background">
          <ul>
            <li>
              <a class="second-level white-text body-option" routerLink="/countries">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>Facturaciones generadas
                </div>
              </a>
            </li>
            <li>
                <a class="second-level white-text body-option" routerLink="/departments">
                  <div>
                    <i class="material-icons prefix second-icon">location_city</i>Generación facturas de venta
                  </div>
                </a>
              </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/cities">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>Generación factura manual
                </div>
              </a>
            </li>
          </ul>  
        </div>
      </li>
      <li>
        <a class="collapsible-header white-text header-option">
          <div>
            <i class="material-icons prefix text-header">view_list</i>Técnicos
          </div>
        </a>
      </li>
      <li>
        <a class="collapsible-header white-text header-option">
          <div>
            <i class="material-icons prefix text-header">view_list</i>Tesorería
          </div>
        </a>
        <div class="collapsible-body background">
          <ul>
            <li>
              <a class="second-level white-text body-option" routerLink="/countries">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>Pagos
                </div>
              </a>
            </li>
            <li>
              <a class="second-level white-text body-option" routerLink="/departments">
                <div>
                  <i class="material-icons prefix second-icon">location_city</i>Pagos anticipados
                </div>
              </a>
            </li>
            </ul>  
        </div>
      </li>
    </ul>
  </li>
</ul>

