/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

html {
    font-family: 'Istok Web', sans-serif !important;
}

.dropdown-content li > span {
    color: #213031 !important;
}

.color-dark-principal {
    color: #455a64;
}

.principal-container{
    /*border: 1pt solid red;
    padding-left: 1em;
    padding-right: 1em;*/
    transition: margin-left .5s;
    padding: 16px;
}

.main-footer{
    transition: margin-left .5s;
    padding-left: 12px;
}

.breadcrumb:before{
    color: black;
    font-size: 15px;
}

.breadcrumb{
    font-size: 1em;
    
}

.bradcrum-position{
    margin-top: 3.5em;
    margin-bottom: 0;
}

.modal-title{
    background-color: #478fbc;
    color: white;
    height: 4em;
}

.modal h4 {
    margin-top: 0;
    vertical-align: middle;
    margin-left: 1em;
    padding-top: 0.3em;
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #5aa8cb;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    color: white;
    text-align: right;
}

.modal .modal-footer .btn-flat {
    margin: 6px 0;
    margin-left: 0em;
    color: white;
    border: 1px solid;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
}

.modal .modal-footer .btn-flat:hover {
    margin: 6px 0;
    margin-left: 0em;
    color: #5aa8cb;
    background-color: white;
    border: 1px solid;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
}

.btn-print{
    display: inline-block;
    background-color: #478fbc;    
    margin-top: 4%;
    box-shadow: none;
}

.btn-edit {
    display: inline-block;
    background-color: #478fbc;    
    margin-top: 4%;
    box-shadow: none;
}

.btn-print:hover, .btn-print:active{
    display: inline-block;
    background-color: white;    
    margin-top: 4%;
    box-shadow: none;
}

.icon-print:hover, .icon-print:active{
    color:#478fbc;
}

.pagination li.active {
    background-color: #407fa9;
}

.first-column{
    width: 2em;
}

table.striped > tbody > tr > td {
    border-radius: 0;
    padding-top: 0.5em;
    padding-bottom: 0 !important;
    text-align: center;
}

td, th {
    padding: 0.5px 5px;
}

.tr-background{
    background-color: #dfdee5
}

.clickable {
    cursor: pointer;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #3f7fa9;
    background-color: #3f7fa9;
}

select:disabled{
    background-color:#f5f2f0 !important;
    border-color: rgb(95, 90, 90) !important;
}


