/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

html {
    font-family: 'Istok Web', sans-serif !important;
}

.row{
    margin-bottom: 0px !important;
}

.side-nav .user-view .email, .side-nav .userView .email {
    padding-bottom: 3px;
    font-weight: 400;
}

.side-nav .user-view  {
    padding: 12px 5em 0 !important;
}

.dropdown-content li > span {
    color: #213031 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    line-height: 7px;
    color: #213031;
    font-size: 13px;
}

.dropdown-options{
    min-width: 10rem;
}

.dropdown-content li {
    min-height: 36px;
}

.color-dark-principal {
    color: #455a64;
}

.container-option{
    padding: 0 16px;
}

.principal-container{
    /*border: 1pt solid red;
    padding-left: 1em;
    padding-right: 1em;*/
    transition: margin-left .5s;
    padding-top: 16px;
    margin-bottom: 1%;
    margin-left: 15em;
}

.main-footer{
    transition: margin-left .5s;
    padding-left: 12px;
}

.breadcrumb:before{
    color: black;
    font-size: 15px;
}

.breadcrumb{
    font-size: 0.8em;
    
}

.container-table {
    max-height: calc(100vh - 283px);
    overflow-y: auto;
    margin-bottom: .5rem;
}

.container-pagination {
    max-height: calc(100vh - 283px);
    /* overflow-y: auto; */
    margin-bottom: .5rem;
}

.bradcrum-position{
    margin-top: -1em;
    margin-bottom: 0;
}

.modal-title{
    background-color: #478fbc;
    color: white;
    height: 100%;
}

.modal h4 {
    margin-top: 0;
    vertical-align: middle;
    margin-left: 1em;
    padding-top: 0.3em;
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #5aa8cb;
    padding: 4px 6px;
    height: 100%;
    width: 100%;
    color: white;
    text-align: right;
}

.modal .modal-footer .btn-flat {
    /*margin: 6px 0;
    margin-left: 0em;
    color: white;
    border: 1px solid;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;*/
    margin: 0.5% auto;
    color: white;
    border: 1px solid;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    height: 2.5em;
    line-height: 1em;
}

.modal .modal-footer .btn-flat:hover {
    margin:  0.5% auto;
    color: #5aa8cb;
    background-color: white;
    border: 1px solid;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    height: 2.5em;
    line-height: 1em;
}

.modal.modal-fixed-footer .modal-footer{
    z-index: 1;
}

.btn-print{
    display: inline-block;
    background-color: #478fbc;    
    margin-top: 0.5rem;
    box-shadow: none;
    margin-bottom: 0 !important;
}

.btn-edit {
    display: inline-block;
    background-color: #478fbc;    
    margin-top: 4%;
    box-shadow: none;
}

.btn-print:hover, .btn-print:active{
    display: inline-block;
    background-color: white;    
    margin-top: 4%;
    box-shadow: none;
}

.icon-print:hover, .icon-print:active{
    color:#478fbc;
}

.pagination{
    font-size: 2px;
    margin-top: 0.5%;
}

.pagination li {
    height: 26px;
}

.pagination li a {
    font-size: 13px;
}

.pagination li.active {
    background-color: #407fa9;
}

.first-column{
    width: 2em;
}

.fixed-action-btn.horizontal ul {
    top: 55%;
    right: 94%;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    font-size: 13px;
}

.btn-crear {
    width: 133%;
    background-color: #5aa8cb;
    border-radius: 3px;
    text-align: center;
    margin-right: 1em;
}

.btn-señal{
    width: 118%;
    background-color: #5aa8cb;
    border-radius: 3px;
    text-align: center;
}

.btn-eliminar{
    width: 100%;
    border-radius: 3px;
    background-color: #5aa8cb;
    text-align: center;
    margin-left: 5%;
    padding: 0 1em !important;
    visibility: hidden;
}

.icon-horizontal{
    align-content: center; 
}

.button-options{
    width: 35px;
    height: 35px;
    background-color: #407FA9;
    margin-bottom: 13px;
}

.btn-floating.btn-large {
    width: 35px;
    height: 35px;
    margin-bottom: 2.5em;
}

.btn-floating{
    height: 36px;
}

.btn-floating.btn-large i {
    line-height: normal;
    display: inline-block;
}

.btn-floating i {
    line-height: 35px;
}

.button-crud{
    background-color: #407FA9;
}

.input-custom {
    font-size: 0.7em !important;
}

.label-color{
    color: black;
}

.ul-button{
    padding-bottom: 7em
}

.li-button{
    margin-right: 1em !important;
}

table.striped > tbody > tr > td {
    border-radius: 0;
    padding-top: 0.1em;
    padding-bottom: 0 !important;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

table.highlight > tbody > tr {
    line-height: 1em !important;
}

td, th {
    padding: 0.5px 5px;
}

.tr-background{
    background-color: #dfdee5
}

.clickable {
    cursor: pointer;
}

[type="checkbox"] + label {
    padding-left: 20px;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
    height: 14px !important;
    width: 14px !important;
    top: 20%
}

[type="checkbox"].filled-in:not(:checked) + label:before {
    height: 14px !important;
    width: 14px !important;
    margin-top: 20% !important;
}

[type="checkbox"].filled-in:checked + label:before {
    top: 20%;
    left: 1px;
    width: 5px;
    height: 9px;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 20%;
    width: 14px;
    height: 14px;
    border: 2px solid #468ebc;
    background-color: #468ebc;
}

input[type=text]:not(.browser-default){
    height: 2em;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    margin: 0px 0 7px 0;
    padding-left: 3px;
    box-sizing: border-box;
}

my-date-picker .selectiongroup {
    height: 1.8rem;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    padding-left: 3px;
}

.mydp .selection {
    width: 92% !important;
    height: 100% !important;
    font-size: 12px !important;
}

.mydp .selbtngroup {
    height: 100% !important;
}

input[type=text]:not(.browser-default):disabled{
    background-color: #f5f2f0 !important;
    border-color: rgb(95, 90, 90) !important;
    margin: 0px 0 7px 0 !important;
}

input[type=password]:not(.browser-default){
    height: 2em;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    margin: 0px 0 7px 0;
    box-sizing: border-box;
}

input[type=password]:not(.browser-default):disabled{
    background-color: #f5f2f0 !important;
    border-color: rgb(95, 90, 90) !important;
    margin: 2px 0 7px 0 !important;
}

.process{
    margin-bottom: 0 !important;
}

.process-title{
    font-size: 1.5em;
}

.separator{
    background-color: black;
    height: 2px;
    margin-bottom: 0.5em;
}

#btn-modal{
    width: 32px;
    height: 32px;
    margin-top: 1.5%;
    line-height: 3em;
}

.select-city {
    height: 2em;
    width: 100%;
    font-size: 14px;
    padding-bottom: 0em;
    margin-top: 1px;
    font-size: 0.8em;
    border: 1px solid;
    border-radius: 0.5em;
    background-color: white;
    border-color: #478fbc;
    margin: 0px 0 7px 0 !important;
}

select:disabled{
    background-color:#f5f2f0 !important;
    border-color: rgb(95, 90, 90) !important;
    margin: 0px 0 7px 0 !important;
}

.swal2-popup {
    width: 350px !important;
}

/*.swal2-icon {
    width: 60px !important;
    height: 60px !important;
    margin: 15px auto 20px !important;
}*/

.swal2-icon.swal2-warning {
    font-size: 56px !important;
    line-height: 72px !important;
}

/*.swal2-icon.swal2-success .swal2-success-ring {
    width: 60px !important;
    height: 60px !important;
    margin: 15px auto 20px !important;
}*/

.swal2-popup .swal2-title {
    font-size: 20px !important;
}

.swal2-popup .swal2-styled {
    font-size: 13px !important;
    padding: 8px 25px !important;
} 

@media only screen and (max-width: 992px) {
    nav .brand-logo{    
        left: 15%;
    }
}

@media only screen and (max-width: 500px) {
    .pagination li a {
        padding: 0px 3px;
    }
    .modal .modal-footer {
        text-align: center;
    }
}

