<!-- Breadcrum-->
<div class="row bradcrum-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Facturación</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="col s12 m6">
    <a class="breadcrumb black-text">Facturación</a>
    <a class="breadcrumb black-text">Generación facturas de venta</a>
  </div>
</div>

<!-- Card -->
<!--<div class="container">-->
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-action card-header white-text">
          <span class="card-title">Generación facturas de venta</span>
        </div>
        <div class="card-content white-text">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="row">
                  <div class="col s3">
                    <label class="label-color">Tipo de facturación</label>
                    <select class="browser-default select-city" id="selectFact">
                      <!--<option value="nodisplay" disabled selected>{{ serviceEdit }}</option>
                      <option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>-->
                    </select>
                  </div>
                  <div class="col s3">
                    <label for="elabFact" class="label-color">Elaboración factura</label>
                    <input placeholder="" id="elabFact" type="text" class="datepicker">
                  </div>
                  <div class="col s3">
                    <label for="iniPeriodo" class="label-color">Inicio periodo</label>
                    <input placeholder="" id="iniPeriodo" type="text" class="datepicker">
                  </div>
                  <div class="col s3">
                    <label for="finPeriodo" class="label-color">Fin periodo</label>
                    <input placeholder="" id="finPeriodo" type="text" class="datepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="col s3">
                    <label for="fechavence" class="label-color">Fecha vencimiento</label>
                    <input placeholder="" id="fechavence" type="text" class="datepicker">
                  </div>
                  <div class="col s3">
                    <label for="suspencion" class="label-color">Suspención del servicio </label>
                    <input placeholder="" id="suspencion" type="text" class="datepicker">
                  </div>
                  <div class="col s3">
                    <label for="vencidos" class="label-color">Fecha pago vencidos</label>
                    <input placeholder="" id="vencidos" type="text" class="datepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <label for="observaciones" class="label-color">Observaciones</label>
                    <input placeholder="" id="observaciones" type="text" class="validate">
                  </div>
                </div>
                <div class="row">
                  <div class="col s3">
                    <label class="label-color">Zona a generar</label>
                    <select class="browser-default select-city" id="selectZone">
                      <!--<option value="nodisplay" disabled selected>{{ serviceEdit }}</option>
                      <option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>-->
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-action card-footer">
          <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="updateConcept()">Aceptar</button>
          <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
    
