.container-card  {
    display: flex;
    position: absolute;
    top: 21%;
    left: 12%;
    height: 100%;
    width: 100%;
  }
  
  .container .row {
    margin: 0 auto;
  }

.card {
   /*  width: 140%;
    margin-left: 30%; */
    margin-top: 4%;
}

.card .card-action {
    position: relative;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 5px 24px;
}

.card .card-title {
    font-size: 16px;
    font-weight: 300;
}

.card-action {
    background-color: #407ea3
}

.card-content {
    background-color: #fafafa;
    height: 100%;
}

.btn-flat {
    font-size: 11px;
    color: white;
    border-color: white;
    border: 2px solid;
    border-radius: 0 0 2px 2px;
}

.btn-flat:hover {
    font-size: 13px;
    color: #6e9fbb;
    background-color: white;
    border-color: white;
    border: 2px solid;
    border-radius: 0 0 2px 2px;
    /* text-align: right; */
}

.btn, .btn-large, .btn-flat {
    height: 29px;
    line-height: 27px;
    padding: 1px 1rem;
}

.card-footer {
    text-align: right;
    padding: 3px 13px !important;
}