<!-- Breadcrum-->
<div class="row module-position">
  <div class="row process">
    <div class="col s12 m6">
      <span class="process-title">Facturación</span>
    </div>
  </div>
  <div class="separator z-depth-3"></div>
  <div class="option-module">
    <div class="col s12 m6 l6">
      <a class="breadcrumb black-text">Facturación</a>
      <a class="breadcrumb black-text">Generación facturas de venta</a>
    </div>
  </div>
</div>

<!-- Card -->
<!--<div class="container-card">-->
    <div class="col s12 m6 l6">
      <div class="card hoverable">
        <div class="card-action card-header white-text">
          <span class="card-title">Generación facturas de venta</span>
        </div>
        <div class="card-content white-text">
          <div class="row">
            <form>
              <div class="row">
                <div class="row">
                  <div class="col s12 m6 l3">
                    <label class="label-color">Tipo de facturación</label>
                    <select class="browser-default select-city" id="selectFact">
                      <option value="nodisplay" disabled selected>Seleccione</option>
                      <!--<option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>-->
                    </select>
                  </div>
                  <div class="col s12 m6 l3">
                    <label for="elabFact" class="label-color">Elaboración factura</label>
                    <my-date-picker name="elabFact" [options]="myDatePickerOptions" (dateChanged)="elabFactura($event)" required></my-date-picker>
                  </div>
                  <div class="col s12 m6 l3">
                    <label for="iniPeriodo" class="label-color">Inicio periodo</label>
                    <my-date-picker name="iniPeriodo" [options]="myDatePickerOptions" (dateChanged)="inicioPeriodo($event)" required></my-date-picker>
                  </div>
                  <div class="col s12 m6 l3">
                    <label for="finPeriodo" class="label-color">Fin periodo</label>
                    <my-date-picker name="finPeriodo" [options]="myDatePickerOptions" (dateChanged)="finPeriodo($event)" required></my-date-picker>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m6 l3">
                    <label for="fechavence" class="label-color">Fecha vencimiento</label>
                    <my-date-picker name="fechavence" [options]="myDatePickerOptions" (dateChanged)="fechaVence($event)" required></my-date-picker>
                  </div>
                  <div class="col s12 m6 l3">
                    <label for="suspencion" class="label-color">Suspención del servicio </label>
                    <my-date-picker name="suspencion" [options]="myDatePickerOptions" (dateChanged)="suspServ($event)" required></my-date-picker>
                  </div>
                  <div class="col s12 m6 l3">
                    <label for="vencidos" class="label-color">Fecha pago vencidos</label>
                    <my-date-picker name="vencidos" [options]="myDatePickerOptions" (dateChanged)="pagoVence($event)" required></my-date-picker>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m4 l3">
                    <label class="label-color">Zona a generar</label>
                    <select class="browser-default select-city" id="selectZone">
                      <option value="nodisplay" disabled selected>Seleccione</option>
                      <!--<option value="nodisplay" disabled selected>{{ serviceEdit }}</option>
                      <option [value]="service.id" *ngFor="let service of services">{{ service.nombre }}</option>-->
                    </select>
                  </div>
                  <div class="col s12 m8 l9">
                    <label for="observaciones" class="label-color">Observaciones</label>
                    <input placeholder="" id="observaciones" type="text" class="validate">
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-action card-footer">
          <button href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="updateConcept()">Aceptar</button>
          <button class="modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</button>
        </div>
      </div>
    </div>
<!-- </div> -->
    
